<div class="education">
	<div class="education-header">
    <div class="education-header-container">
      <h1>学校介绍</h1>
      <p>
        加拿大实行“培养人才第一”的教育制度，大多数学校实行为公立教育，全部经过加拿大政府的
        严格审查，总体教育水平也处于世界前列。一般大学分为三大类，即医学博士类（医博类）大学
        、综合类大学、基础类大学
			</p>
    </div>
  </div>

  <div class="container container--large">
    <div class="row">

      <div class="col-lg-3">
        <div class="education-accordion">
          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a class="btn btn-link collapsed" href="/education">
                  <span class="btn-link-title">高中</span>
                  <img src="/icon/chevron-down-circle.svg" class="btn-link-chevron">
                </a>
              </h5>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a class="btn btn-link collapsed" href="/education/college">
                  <span class="btn-link-title">COLLEGE</span>
                  <img src="/icon/chevron-down-circle.svg" class="btn-link-chevron">
                </a>
              </h5>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a class="btn btn-link" href="/education/basic">
                  <span class="btn-link-title">基础类大学</span>
                  <img src="/icon/chevron-down-circle.svg" class="btn-link-chevron">
                </a>
              </h5>
            </div>
            <div class="show">
              <div class="card-body card-body--categories">
                <a href="/education/basic/uoit" class="card-body-link active">
                  <span>安省理工大学<br>UOIT</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/basic/lakehead" class="card-body-link">
                  <span>湖首大学<br>Lakehead University</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/basic/brandon" class="card-body-link">
                  <span>布兰登大学<br>Brandon University</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/basic/winnipeg" class="card-body-link">
                  <span>温尼伯大学<br>The University of Winnipeg</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/basic/cape-breton" class="card-body-link">
                  <span>卡普顿大学<br>Cape Breton</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/basic/bishop" class="card-body-link">
                  <span>毕索大学<br>Bishop's University</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a class="btn btn-link collapsed" href="/education/doctor">
                  <span class="btn-link-title">医博类大学</span>
                  <img src="/icon/chevron-down-circle.svg" class="btn-link-chevron">
                </a>
              </h5>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a class="btn btn-link collapsed" href="/education/complex">
                  <span class="btn-link-title">综合类大学</span>
                  <img src="/icon/chevron-down-circle.svg" class="btn-link-chevron">
                </a>
              </h5>
            </div>
          </div>

          <div class="card-body-apply">
            <a href="/在线申请表.docx" class="card-body-apply-btn" download>
              <img src="/icon/download-solid.svg" style="height: 25px; width: 25px;">
              <span>下载申请表单</span>
            </a>
          </div>
        </div>
      </div>

      <div class="col-lg-9">
        <div class="education-tab">
          <div class="row no-gutters">
            <div class="col-2">
              <a class="btn education-tab-link" href="/education"><span>高中</span></a>
            </div>
            <div class="col-2">
              <a class="btn education-tab-link" href="/education/college"><span>COLLEGE</span></a>
            </div>
            <div class="col-2">
              <a class="btn education-tab-link active" href="/education/basic"><span>基础类大学</span></a>
            </div>
            <div class="col-2">
              <a class="btn education-tab-link" href="/education/doctor"><span>医博类大学</span></a>
            </div>
            <div class="col-2">
              <a class="btn education-tab-link" href="/education/complex"><span>综合类大学</span></a>
            </div>
          </div>
        </div>

        <div class="education-text">
          <div class="education-text-heading">
            <h3>安省理工大学—UOIT</h3>
          </div>
          <div class="education-text-content">
            <p>加拿大安省理工大学（UOIT）是2002年7月由安大略省立法委员会批准，在加拿大恒德学院的基础上成立的一所公立大学。学校凭借其自身雄厚的教学实力和师资荣誉，与众多知名大企业，如通用，福特，IBM，微软等建立长期合作，被称为加拿大的麻省理工学院，是加拿大安大略省综合排名第十二的公立大学。</p>

            <p>
              <strong>学校课程：</strong><br>
              商业和信息技术学院<br>
              教育学院<br>
              工程与应用科学学院<br>
              能源系统与核科学学院<br>
              健康科学学院<br>
              理学院<br>
              社会科学与人文学院。
            </p>

            <p>
              <strong>适合学生：</strong><br>
              成绩优秀的高中毕业生，学士学位毕业生
            </p>

            <p>
              <strong>入学及申请截止日期：</strong><br>
              每年9月，当年2月截止申请。<br>
              个别专业1月5月开学，截止日期开学前2个月
            </p>

            <div>
              <strong>学校优势：</strong>
              <ul>
                <li>开设了诸多加国独一无二的专业，如：（核）工程学，机械（汽车）工程学，制造工程学，能源系统工程学</li>
                <li>提供双学位课程</li>
                <li>语言不合格可以申请学士学位或者硕士双录取</li>
                <li>提供多种奖学金申请途径</li>
              </ul>
            </div>

            <div>
              <p><strong>申请要求：</strong></p>
              <strong>语言课程：</strong><a href="http://www.culture-works.com/">Culture Works</a><br>
              <strong>学士学位课程：</strong>高中毕业学生或高三在读学生，高中平均成绩不低于80分；雅思6.5（单科6.0）PS：教育及护理专业，雅思要求7.0<br>
              <strong>硕士课程：</strong>四年学士学位毕业学生，GPA3.0以上；雅思6.5（单科6.0）
            </div>

            <p>
              <strong>学校费用：</strong><br>
              申请费：Culture Works 1200加币（200加申请费，1000加币学费预存）<br>
              200加币（直录）<br>
              学费：20000-25000加币（1年）
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>

  {{>social-link}}
</div>
