<div class="camp">

  <div class="camp-header">
    <div class="camp-header-container">
      <h1>参加夏令营，您将收获</h1>
      <ul class="camp-header-container-list">
        <li class="list-item"><img src="/images/camp/star-y.png" class="list-indicator" alt="list">真实课堂体验，参观了解多大等名校，体验留学生活</li>
        <li class="list-item"><img src="/images/camp/star-y.png" class="list-indicator" alt="list">零距离对话名校招生考官，明确留学申请攻略及步骤</li>
        <li class="list-item"><img src="/images/camp/star-y.png" class="list-indicator" alt="list">完全浸入当地生活环境，迅速全面地提高英语水平</li>
        <li class="list-item"><img src="/images/camp/star-y.png" class="list-indicator" alt="list">感受加国风土人情，游览名校名胜，品尝各国特色美食</li>
        <li class="list-item"><img src="/images/camp/star-y.png" class="list-indicator" alt="list">结交世界各地朋友，提高社交能力，理解世界多元文化</li>
        <li class="list-item"><img src="/images/camp/star-y.png" class="list-indicator" alt="list">建立良好签证记录，为未来留学签证办理提供便利条件</li>
      </ul>
    </div>
  </div>

    <div class="camp-content">
      <div class="container">
        <div class="camp-content-block">
          <div class="camp-content-block-heading">
            <img src="/images/camp/夏令营行程表WEEK1-3.png" class="camp-content-block-heading-tab camp-content-block-heading-tab--schedule" alt="夏令营行程表WEEK1-3">
            <h2 class="camp-content-block-heading-title">夏令营行程表WEEK1-3</h2>
          </div>
          <div class="row">
            <div class="col-md-10 col-lg-8 mx-auto">
              <div id="schedule-form" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators carousel-indicators--round">
                  <li data-target="#schedule-form" data-slide-to="0" class="active"></li>
                  <li data-target="#schedule-form" data-slide-to="1"></li>
                  <li data-target="#schedule-form" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <h3 class="text-center mb-5">WEEK 1</h3>
                    <img class="d-block w-100" src="/images/camp/form-1.png" alt="WEEK 1">
                  </div>
                  <div class="carousel-item">
                    <h3 class="text-center mb-5">WEEK 2</h3>
                    <img class="d-block w-100" src="/images/camp/form-2.png" alt="WEEK 2">
                  </div>
                  <div class="carousel-item">
                    <h3 class="text-center mb-5">WEEK 3</h3>
                    <img class="d-block w-100" src="/images/camp/form-3.png" alt="WEEK 3">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="camp-content-block-notice">
            <div class="camp-content-block-notice-img">
              <img src="/images/visa/tips.png" class="img-fluid" alt="notice">
            </div>
            <div class="camp-content-block-notice-text">
              <p>注：以上为参考行程，如遇加拿大的法定节假日，则无法按原计划安排行程，公司会根据情况作相应的调整最终行程以出团前的“出境游学行程”为准，若遇实际航班顺序调整，航班延误，天气原因，自然灾害或不可抗力等因素，甲方有权对行程进行调整。</p>
            </div>
          </div>

        </div>

        <div class="camp-content-block">
          <div class="camp-content-block-heading">
            <img src="/images/camp/开营寄语.png" class="camp-content-block-heading-tab" alt="开营寄语">
            <h2 class="camp-content-block-heading-title">开营寄语</h2>
          </div>

          <div class="camp-content-block-text">
            <p>希望学员能够通过此次夏令营体验到纯正的北美文化传承及教育理念，珍惜此次独立外出游学的机会，学会自立自强，在与同期的学员们朝夕与共的同时学会互帮互助，和谐共处，建立深刻友谊。在行程过程中，体验瑰丽的自然风光和独具特色的异国文化，感知文化与思想进步，成为更优秀的自己。</p>
          </div>
        </div>

        <div class="camp-content-block">
          <div class="camp-content-block-heading">
            <img src="/images/camp/MINI UNIVERSITY.png" class="camp-content-block-heading-tab camp-content-block-heading-tab--university" alt="MINI UNIVERSITY">
            <h2 class="camp-content-block-heading-title">MINI UNIVERSITY</h2>
          </div>

          <div class="camp-content-block-text camp-content-block-university">
            <p>本次夏令营由WYSE留学集团举办，期间MINI UNIVERSITY项目课程于滑铁卢大学（University of Waterloo）校园展开，WYSE集团的留学顾问会全程陪同学生完成此次游学体验。</p>
            <div class="camp-content-block-university-subheading">
              <img src="/images/camp/waterloo.png" alt="waterloo">
              <h3>滑铁卢大学</h3>
            </div>
            <p>滑铁卢大学是一所综合性公立大学，滑铁卢大学 University of Waterloo 位于安大略省西南部的滑铁卢地区，距多伦多市100公里。该校2014年被加拿大最具权威的《麦克林》杂志（MacLean’s）评为加拿大综合类大学第3名。</p>
            <p>学校于1957年由格里·哈格博士和艾拉·湾·尼德尔斯共同创立。学校有很高的声誉，特别是做为北美地区第一个经认可建立数学系的大学，以及拥有世界上最大的合作办学项目。滑铁卢大学共有六个学院。学校共授予100多个本科学位专业，28种硕士及博士学位专业。滑铁卢大学以数学、电脑、工程科学等学科闻名，学校的代表队曾多次获得ACM 国际大学生程序设计竞赛的冠军。</p>
            <p>滑铁卢大学教学设施完善，科研设备先进，学术力量雄厚，大学以高科技为依托，发展速度很快，并一直以其创新精神和优秀的学术背景而闻名于世。学校每年研究经费约为5千万加元，提供完备的诸多专业的本科及研究生教育。学校有着悠久的办学历史和完善的教学设施，其中又有许多优势专业供学生们选择。下设文学院、理学院、工程学院、数学院、环境学院、应用健康科学学院。滑铁卢大学设有北美唯一一所数学院，这也是全世界最大的数学和计算机的教育及研究中心。同时，在北美洲，该校是最早采用计算机教学的学府，而这所大学的计算机学科在整个北美洲也是极有名气的，加拿大其他大学在计算机科学领域上难以望其项背。除此之外，滑铁卢大学工程院拥有加拿大最好的软件工程，电子工程及机械工程专业。</p>
            <p>滑铁卢大学科技气息浓厚，黑莓手机创始人之一拉扎里迪斯曾经就读该校，其毕业生也深受科技企业欢迎。微软公司前主席比尔·盖茨于2005年秋季访问滑铁卢大学，在演讲中他提到，滑铁卢大学是微软招聘毕业生最多的学校之一。根据谷歌员工毕业院校所做出的学校排名，滑铁卢大学排名世界第13名，第14名为清华大学。</p>
            <p>合作教育（CO-OP）是滑铁卢大学办学的一大特色和强项。在与外界交流方面，该校是英联邦大学协会成员，与世界上的44个国家有交流项目，和许多大学有着长期的专业合作。学校拥有世界上最大的数学系，在每年为北美大学生举办的“WILLIAM LOWELL PUTNAM”数学竞赛中学校均取得了优异的成绩。</p>
            <img src="/images/camp/gain-pic.png" class="img-fluid" alt="gain a competitive advantage">
            <div class="camp-content-block-university-course">
              <div class="camp-content-block-university-subheading">
                <img src="/images/camp/m-1.png" alt="滑铁卢校园环境介绍">
                <h3>滑铁卢校园环境介绍：</h3>
              </div>
              <p>滑铁卢大学在北美、欧洲、亚洲和中东拥有五个校区和众多教育中心。该大学的主校区位于加拿大安大略省，占地400多公顷，校园环境优美，学生可在此享受优质的学习环境和先进的教学设施。此外，学校图书馆还配套有庞大的计算机系统，学生可以借此高效完成检索和学习任务。主校区所处的滑铁卢市地处安大略省南部，是典型的大学城市，环境整洁，治安良好，距多伦多仅2小时车程，距尼亚加拉瀑布仅5小时车程，距滑铁卢国际机场仅半小时车程，交通较为便利。</p>
            </div>
            <div class="camp-content-block-university-course">
              <div class="camp-content-block-university-subheading">
                <img src="/images/camp/m-2.png" alt="名校学习经历，体验北美教学体制">
                <h3>名校学习经历，体验北美教学体制：</h3>
              </div>
              <p>滑铁卢大学（University of Waterloo），加拿大著名顶尖学府之一，MINI university游学项目，使我们的学员可以真正参与体验到北美著名大学的教学模式，每天的全英文教学模式，强化提高同学们的英语水平，同时体验不同的数学教学思维模式，以及在实践中学习晦涩难懂的化学及物理知识，以及小小演说家课程培养同学们的英文演讲技巧。如此多的丰富有趣的课程选择，也可以在无意中使同学们挖掘到自己的兴趣所在，基础入门简单化的大学课程内容透过MINI university的模式由浅入深地帮助同学们在轻松的动手实践中完成知识的积累。</p>
            </div>
            <div class="camp-content-block-university-course">
              <div class="camp-content-block-university-subheading">
                <img src="/images/camp/m-3.png" alt="Mini-University课程内容包括">
                <h3>Mini-University课程内容包括</h3>
              </div>
              <div class="camp-content-block-university-content-tag">
                ESL英语课程
              </div>
              <p>ESL（English as a Second Language，以英语为第二语言/外语）是针对母语非英语的并把英语作为第二语言的语言学习者的专业英文课程，是外国学生申请加拿大大学所必修的一门语言课程。通过参加ESL考试，考生不仅可以提高语言水平，还可以更加深入地了解英美国家的社会结构和文化等，使自己的语言水平达到能够顺利在加拿大学习、生活的水平。凡考试通过的学生都可获得ESL相应的等级证书。ESL证书是受到加拿大大学联盟认可的。持该证书考生可自由申请联盟内院校的任何专业，无需再提供托福、雅思等其他的语言成绩。成绩合格者将被相应院校录取，并可能获得高额奖学金。美国教育中心（AEC）是ESL中国考试中心。中国学生通过参加ESL考试申请加拿大大学，可以不受TOEFL和IELTS考试的时间或地点等诸多条件限制。ESL也是一种行之有效的英语为非母语语言教学方法。这种高效的语言教学与学习方法在世界范围内都取得成功。</p>
              <div class="camp-content-block-university-content-tag">
                如何塑造领导能力（Leadership Skills）
              </div>
              <p>我们可以借鉴国外的一些经验和成果，加拿大高校大学生领导力教育的组织形式：设立制度化的培训项目，推广领导力证书的考试，通过课外活动的参透，精英模式、大众模式、普及模式。只要包括了理论课程和时间课程，冲突管理，沟通技能，有效机会的技术等理论教学内容。</p>
              <div class="camp-content-block-university-content-tag">
                团队协作能力（Teamwork Skills）
              </div>
              <p>所谓团队协作能力，是指建立在团队的基础之上，发挥团队精神、互补互助以达到团队最大工作效率的能力。对于团队的成员来说，不仅要有个人能力，更需要有在不同的位置上各尽所能、与其他成员协调合作的能力。团队协作能力对于一个团队至关重要，设团队总能力为A，队长的团队组织能力为a，每个队员的平均个人能力为b，队中人数为c，团队协作能力为d。那么有：A=a×(bc)(bc)(bc)......(bc)(bc) (共d个(bc))相乘。可见团队协作能力的巨大作用。一个好的团队并不是说每一份子各方面能力都特别棒，而是能够很好地借物使力，取团队其它成员的长处来补自己的短处，也把自己的长处优点分享给大家，互相学习交流，共同进步。</p>
              <div class="camp-content-block-university-content-tag">
                头脑风暴（Brainstorming）
              </div>
              <p>一种创造能力的集体训练法，头脑风暴法出自“头脑风暴”一词。所谓头脑风暴（Brain-storming）最早是精神病理学上的用语，指精神病患者的精神错乱状态而言的，现在转而为无限制的自由联想和讨论，其目的在于产生新观念或激发创新设想。 头脑风暴法又称智力激励法、BS法、自由思考法，是由美国创造学家A·F·奥斯本于1939年首次提出、1953年正式发表的一种激发性思维的方法。此法经各国创造学研究者的实践和发展，已经形成了一个发明技法群，如奥斯本智力激励法、默写式智力激励法、卡片式智力激励法等等。</p>
              <div class="camp-content-block-university-content-tag">
                如何进行一场成功的演讲（Presentation Skills）
              </div>
              <p>演讲技巧，是演讲的道中之术。中国著名青年演讲家、政商界领导者私人演讲教练柏君老师曾经评论过演讲技巧。思想的崇高、使命感、高度、深度是演讲的道，所谓演讲能量的核心地基。而演讲技巧，是在地基基础上让演讲力量拔地而起的策略性。</p>
              <div class="camp-content-block-university-content-tag">
                基础戏剧课程（Drama Skills）
              </div>
              <p>绘本与戏剧都是综合的艺术类型，现代幼教课程发展以整合方式为主，在此基础上，存在领域课程（Sequenced）和综合课程（Integrated）两种总体思路，领域课程一般是在一致的教学目标下，按照主题或学习范围平衡排列教学内容的课程设计思路和教学方式；综合课程则是将学习内容或主题进行跨领域的整合。</p>
            </div>
            <div class="camp-content-block-university-course">
              <div class="camp-content-block-university-subheading">
                <img src="/images/camp/m-4.png" alt="课外活动">
                <h3>课外活动：</h3>
              </div>
              <div class="camp-content-block-university-content-tag">
                排演话剧了解西方文学
              </div>
              <ul class="camp-content-block-university-course-list">
                <li class="list-item"><img src="/images/camp/star-r.png" class="list-indicator" alt="list">以4-5人为一组，提供10多个不同话剧剧本可供学生挑选</li>
                <li class="list-item"><img src="/images/camp/star-r.png" class="list-indicator" alt="list">两天排练时间，第三天演出所选话剧</li>
                <li class="list-item"><img src="/images/camp/star-r.png" class="list-indicator" alt="list">为学生提供一个自由发挥，表现自我的平台，加强学生的自信心，加深朋友之间的友谊</li>
              </ul>
              <div class="camp-content-block-university-content-tag mb-0">
                飞盘(Frisbee)活动
              </div>
              <img src="/images/camp/frisbee.png" class="img-fluid pl-4" alt="Frisbee">
              <div class="camp-content-block-university-content-tag my-0">
                曲棍球(Hockey)活动
              </div>
              <img src="/images/camp/hockey.png" class="img-fluid pl-4" alt="Hockey">
              <div class="camp-content-block-university-content-tag mt-0">
                与滑铁卢大学学生交流活动
              </div>
              <p>另外还有与滑铁卢大学学生交流活动，制作mini-yearbook，竞技类体育活动友谊赛等其他不同类型活动供学生选择</p>
            </div>

          </div>
        </div>

        <div class="camp-content-block">
          <div class="camp-content-block-heading">
            <img src="/images/camp/注意事项.png" class="camp-content-block-heading-tab" alt="注意事项">
            <h2 class="camp-content-block-heading-title">注意事项</h2>
          </div>
          <div class="row">
            <div class="col-md-10 col-lg-8 mx-auto">
              <img src="/images/camp/info.png" class="img-fluid p-4" alt="注意事项">
            </div>
          </div>
        </div>


      </div>

      {{>contact-form}}
      {{>social-link}}
    </div>

  </div>
