<div class="pass">
  <div class="pass-header">
    <div class="pass-header-container">
      <h1>P.A.S.S</h1>
      <p>P.A.S.S (Pre/Post - Arrival Support Services) 集出行前须知的各种信息，丰富的落地后服务与多伦多著名景点的观光游玩为一体的
      特色服务项目，由专门的辅导人员全程一对一陪同辅导学生，让学生能够更充分地在开学前融入加拿大本土的环境和生活节奏。</p>
    </div>
  </div>

  <div class="pass-content">
    <div class="container">
      <div class="pass-content-block">
        <div class="pass-content-block-heading">
          <img src="/images/pass/tab.png" alt="出发前服务项目">
          <h2>出发前服务项目</h2>
          <span>Pre-Arrival Support Services</span>
        </div>
        <div class="pass-content-block-img">
          <img src="/images/pass/pre.png" style="width: 100%; max-width: 480px;" alt="Pre-Arrival Support Services">
        </div>
        <div class="pass-content-block-text">
          <ol>
            <li class="mb-3">
              <p><strong class="mb-3">依据学生的自身情况以及个人要求，安排合适的住房情况（租房，寄宿家庭，住校），并且在至加拿大前向学生和家长提供住房信息及照片。<br>
              那让我们来看下基本的留学住宿选择有哪些：</strong></p>
              <ol class="pass-content-block-text-sublist">
                <li><strong>校园宿舍：</strong><span class="pass-content-block-text-normal">几乎所有的加拿大公立学院或大学都会为学生提供学生宿舍，这些宿舍在校园里或是邻近校园的地方，
                是个可以认识加拿大学生，以及结交新朋友的好地方。</span></li>
                <li><strong>校外租房：</strong><span class="pass-content-block-text-normal">在校外租房租金一般相对学生宿舍会便宜些，加之出租房内都有厨房，学生可以自己在家做饭，长期下来生活费更是能省下很多。一般租的房子会有一位或几位室友，
                室友也多数是出国留学的学生，在学习上或是生活上都能互相帮助，亦能锻炼自己独立生活的能力。</span></li>
                <li><strong>Homestay（寄宿家庭）：</strong><span class="pass-content-block-text-normal">初到加拿大的留学生有些会选择寄宿家庭，这样能在短期内迅速融入加拿大的生活。在与本地人的生活期间，
                既能够学到加拿大人的生活方式与异国文化，又能快速地增进语言能力。</span></li>
              </ol>
            </li>
            <li>
              <p><strong class="mb-3">出发前向学生及家长提供加拿大出国留学必备物品行李清单和注意事项，如何在飞机上填写E311 / Declaration Card（入境申报卡）或电子申报表，
              以及留学生第一次入境时领取学习许可（Study Permit）的指导。</strong></p>
              <p class="pass-content-block-text-normal">近几年来，赶赴加拿大留学的留学生越来越多。而对于第一次出国的学生来讲，行李箱该装些什么物品带去加拿大往往是最头疼的。为此我们会在学生出国前提供详细的行李清单（如行李、文具、药物、用品、衣物、电子产品等）以及些违禁物品和注意事项以供家长与学生参考。</p>
              <p class="pass-content-block-text-normal">在飞机着陆前的2-3小时内，空乘会给乘客派发入境申报卡E311并要求填写。无论你是乘坐哪国的航班，都必须填写加拿大入境申报卡。卡的一面为英文，另一面为法文，填写一面即可。建议广大的留学生们提前在随时行李里准备一支笔，用来填写表格。
              简单来说，申报卡是用来表明自己没有携带违规物品和用来申报限制物品的表格，在飞机上填写后入境关交于海关人员即可。驻中国的加拿大大使馆并不会直接签发Study Permit，对于第一次赴加拿大学习的学生，加拿大大使馆只签发小签（Visa）与学习准许介绍信（Letter of Introduction），
              凭借这封信与学校的offer，学生就可以在加拿大海关领取Study Permit。我们会将领取学习许可时所要注意的事项及工作人员常问的问题提前告诉学生，让学生有充分的时间做足准备。</p>
            </li>
          </ol>
        </div>
      </div>

      <div class="pass-content-block">
        <div class="pass-content-block-heading">
          <img src="/images/pass/tab.png" alt="落地后服务项目">
          <h2>落地后服务项目</h2>
          <span>Post-Arrival Support Services</span>
        </div>
        <div class="pass-content-block-img">
          <img src="/images/pass/post.png" class="img-fluid" alt="Pre-Arrival Support Services">
        </div>
        <div class="pass-content-block-text">
          <ol>
            <li class="mb-3">
              <p><strong class="mb-3">安排专业的留学指导人员实时跟踪最新航班的信息，提前在机场等候接机，并在接到学生后第一时间向家长联系报平安。</strong></p>
              <p class="pass-content-block-text-normal">我们会为加拿大留学生安排单独的留学指导人员负责学生所有的落地服务项目。严格按照所提供的航班信息，提前出发前往机场，实时查询航班到达信息，在机场等候并迎接学生的到来。在确认学生安全到达后便会联系家长让家长能够放心。</p>
              <p class="pass-content-block-text-normal">在接到学生后，立马前往住处。如到达时间已晚便会安排学生入住休息，第二天帮助其办理入住所需要的手续；如时间还早，则会提前联系房东，协助学生与房东、寄宿家庭的交流以沟通，并于之后帮助审阅租房合同或其他一些文件，确认无误后学生签字。
              指导人员会与学生一起查看租房合同并且解答不明白的地方，确保学生都明白且准确无误后签字，并交付房租，房东给予钥匙，学生正式入住。我们会负责协助学生与房东/寄宿家庭的交流和沟通，协调两方的关系，从而能够可以理解、融洽、尊重的一起生活。</p>
            </li>
            <li>
              <p><strong class="mb-3">协助学生办理银行账户</strong></p>
              <p class="pass-content-block-text-normal">对于一个现代人来说，手机、钱包、钥匙是出门必备的三件套，缺一不可。钱包中，除了有现金之外，还有各式各样的银行卡。随着社会的不断进步，银行卡在人们的日常生活中发挥着越来越重要的作用，在加拿大也是如此。</p>
              <p class="pass-content-block-text-normal">在加拿大的朋友都知道，加拿大有五大银行，分别是加拿大皇家银行（RBC）、道明银行（TD）、加拿大帝国商业银行（CIBC）、蒙特利尔银行（BMO）以及加拿大丰业银行（Scotiabank）。
              而我们与加拿大五大银行（RBC，TD，Scotiabank，BMO，CIBC）都有合作，我们的指导人员会负责提前帮学生预约相应银行的工作人员选择合适的开户日期，并陪同学生完成开户，信用卡申请等相关服务项目。</p>
            </li>
            <li>
              <p><strong class="mb-3">协助学生办理开通手机电话卡</strong></p>
              <p class="pass-content-block-text-normal">对于留学生来说到加拿大这样地广人稀的国家，虽说Wi-Fi在市区各大餐厅，商场已经普及了，但万一在茫茫人海中迷路，在没有他人的美景中走散，没有网络那真是令人着急。为此我们会尽快带领学生开通电话卡。
              加拿大有Rogers，Bell，TELUS三大手机网络运营商，另外的运营商还有Koodo, Fido, Virgin Mobile, Wind即时还会有不同的电话套餐让学生选择。学生若有任何问题，我们的辅导员也会提供他们个人的意见以供参考。</p>
            </li>
            <li>
              <p><strong class="mb-3">陪同学生申请社会保障号（Social Insurance Number），提前要求学生准备好申请材料，当场辅导学生如何填写表格信息，最终完成申请</strong></p>
              <p class="pass-content-block-text-normal">SIN全称Social Insurance Number，是加拿大公民，移民以及临时居民（包括国际学生）在加拿大工作必须具备的身份号码，任何打算在加拿大工作的人都必须先申请这个号码。SIN是加拿大政府用来记录你的收入、税收、退税以及其他的社会福利工具。
              留学生的SIN Number一般是以9开头的，SIN卡号还直接联系到你的信用额度。学生只需带上所需材料，填写完所需的表格，即可拿到属于你的工卡号。</p>
            </li>
            <li>
              <p><strong class="mb-3">我们会帮助学生安排合适的时间报名G1笔试考试，并且会提前提供学生复习的资料以及要点，以便学生能更顺利的通过考试</strong></p>
              <p class="pass-content-block-text-normal">对于留学生来说，最重要的身份证明就是护照了，介于很多时候出门都可能会遇到需要使用身份证明的情况，那么一直把护照带在身上并不是一个绝佳的选择，因为弄丢或者弄坏护照将会带来很多不必要的麻烦。那么想要获取类似于国内身份证ID的话，
              去考驾照的G1驾照是许多留学生的选择，无论对于以后是否想学车或买车的同学们来说都是不错的选择。G1是入门必备，G1的考试只是笔试，都是一些非常简单的常识。在拿到G1驾照后12个月才可以考G2也就是所谓的路考，因此对于想要学车或开车的留学生来说更是不二之选。</p>
            </li>
            <li>
              <p><strong class="mb-3">留学指导人员也曾在加拿大留学，生活多年，他们会结合自身的学习以及生活经验为留学生介绍加拿大的各种人文知识，向留学生提供宝贵的建议，以免走不必要的弯路</strong></p>
              <p class="pass-content-block-text-normal">作为一个初到加拿大的留学生来说，对于加拿大生活节奏，学校的教学模式等方面，可以说是一概不知。我们的指导员也曾经孤身一人来到加拿大留学，无论是在生活上还是在学习方面都历经了大大小小的挫折，
              他们中有的也曾在面临一些重大选择上做过许多错误的决定，以至于走过很多弯路，但最终在冷静的分析和总结后克服了并且解决了种种问题。现在这些“久经沙场”的指导员们愿意把他们所经历过的事情分享给前来留学的广大学生，为了能在生活以及学习上更好地引导学生而努力着。</p>
            </li>
            <li><p class="mb-3">带领学生了解学校和住房周围的生活环境（超市，邮局，公共交通，等基础设施）</p></li>
            <li><p class="mb-3">按照学生个人生活和学习需要，带学生去相关的地方购买所需的生活用品与器材</p></li>
            <li><p class="mb-3">开学前，指导人员会带领留学生到学校报到注册，介绍学校国际部的老师与学生认识，并且最后带学生完成校园参观</p></li>
          </ol>
        </div>
      </div>

    </div>
  </div>

  {{>contact-form}}
  {{>social-link}}
</div>
