<div class="visa">
  <div class="visa-header">
    <div class="visa-header-container">
      <h1>签证服务</h1>
      <p>加拿大签证因其拒签率高、办理时间长、政策频变，而有“最难签证”之称。自行申请之初也常被五花八门的表格绕晕，许多学生也被签证
      问题所困扰。那让我们来看一下申请不同的签证所需要准备的各种材料与常见问题吧。</p>
    </div>
  </div>

  <div class="visa-content">
    <div class="container">
      <div class="visa-content-block">
        <div class="visa-content-block-heading">
          <img src="/images/visa/tag-red.png" class="visa-content-block-heading-tab" alt="大签续签准备材料">
          <h2 class="visa-content-block-heading-title">大签续签准备材料</h2>
        </div>
        <div class="visa-content-block-list">
          <ol>
            <li>护照扫描图（所有信息页）</li>
            <li>学校在读证明（Enrollment Certificate）</li>
            <li>存款证明，近1-2个月的银行流水和Bank Statement（建议是5000以上加币）</li>
            <li>白色背景护照尺寸两寸照片</li>
            <li>5709表格（填此表格先在CIC 官网首页的右上方的搜索栏查找IMM5709E，然后下载表格不用打印出来，就在电脑上填，而且浏览器一定不要用google chrome ，填完表格后点validate, 系统会自动生成一组条形码，然后保存生产了条形码后的5709表格以备上传）</li>
          </ol>
        </div>
        <div class="visa-content-block-notice">
          <div class="visa-content-block-notice-img">
            <img src="/images/visa/tips.png" class="img-fluid" alt="tips">
          </div>
          <div class="visa-content-block-notice-text">
            <p>重要提示：以上材料只需准备电子版，不需要打印。每一个文件的大小不能超4M。上传文件只需要准备这5份资料，另外再准备一张可以用的信用卡就可以。</p>
          </div>
        </div>
      </div>

      <div class="visa-content-block">
        <div class="visa-content-block-heading">
          <img src="/images/visa/tag-red.png" class="visa-content-block-heading-tab" alt="小签续签申请材料">
          <h2 class="visa-content-block-heading-title">小签续签申请材料</h2>
        </div>
        <div class="visa-content-block-list">
          <ol>
            <li>最近的成绩单</li>
            <li>大签</li>
            <li>近 1—2 个月的银行流水和 Bank statement（存款最好在$4000 以上）</li>
            <li>扫描护照所有信息页</li>
            <li>电子照片（2 寸）</li>
            <li>在读证明（Enrollment Certificate）</li>
            <li>5257表格（填此表格先在CIC 官网首页的右上方的搜索栏查找IMM5257E，然后下载表格不用打印出来，就在电脑上填，而且浏览器一定不要用google chrome ，填完表格后点validate, 系统会自动生成一组条形码，然后保存生产了条形码后的5257表格以备上传）</li>
          </ol>
        </div>
        <div class="visa-content-block-notice">
          <div class="visa-content-block-notice-img">
            <img src="/images/visa/tips.png" class="img-fluid" alt="tips">
          </div>
          <div class="visa-content-block-notice-text">
            <p>重要提示：以上材料只需准备电子版，不需要打印。每一个文件的大小不能超4M。上传文件只需要准备这7份资料，另外再准备一张可以用的信用卡就可以。</p>
          </div>
        </div>
      </div>

      <div class="visa-content-block">
        <div class="visa-content-block-heading">
          <img src="/images/visa/tag-red-long.png" class="visa-content-block-heading-tab visa-content-block-heading-tab--long" alt="PGWP毕业后工签申请材料">
          <h2 class="visa-content-block-heading-title">PGWP毕业后工签申请材料</h2>
        </div>
        <div class="visa-content-block-list">
          <ol>
            <li>护照（所有信息页）</li>
            <li>电子照片（2寸）</li>
            <li>学校出具的成绩单/毕业信Completion of Studies Letter（两者提供其中之一即可）</li>
            <li>5710表格 （填此表格先在CIC 官网首页的右上方的搜索栏查找IMM5710E，然后下载表格不用打印出来，就在电脑上填，而且浏览器一定不要用google chrome ，填完表格后点validate, 系统会自动生成一组条形码，然后保存生产了条形码后的5710表格以备上传）</li>
            <li>255元加币（可以用信用卡付或者现金，其中155是工签费用，100是开放性工签费用。）</li>
          </ol>
        </div>
        <div class="visa-content-block-notice">
          <div class="visa-content-block-notice-img">
            <img src="/images/visa/tips.png" class="img-fluid" alt="tips">
          </div>
          <div class="visa-content-block-notice-text">
            <p>重要提示：必须在收到Degree Completion Letter后90天之内前往CBSA办理，注意是90天，不是三个月。我就有同学第92天的时候去办理被拒。<br>
            以上材料只需准备电子版，不需要打印。每一个文件的大小不能超4M。上传文件只需要准备这7份资料，另外再准备一张可以用的信用卡就可以。</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  {{>contact-form}}
  {{>social-link}}
</div>
