<div class="education">
	<div class="education-header">
    <div class="education-header-container">
      <h1>学校介绍</h1>
      <p>
        加拿大实行“培养人才第一”的教育制度，大多数学校实行为公立教育，全部经过加拿大政府的
        严格审查，总体教育水平也处于世界前列。一般大学分为三大类，即医学博士类（医博类）大学
        、综合类大学、基础类大学
			</p>
    </div>
  </div>

  <div class="container container--large">
    <div class="row">

      <div class="col-lg-3">
        <div class="education-accordion">
          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a class="btn btn-link collapsed" href="/education">
                  <span class="btn-link-title">高中</span>
                  <img src="/icon/chevron-down-circle.svg" class="btn-link-chevron">
                </a>
              </h5>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a class="btn btn-link" href="/education/college">
                  <span class="btn-link-title">COLLEGE</span>
                  <img src="/icon/chevron-down-circle.svg" class="btn-link-chevron">
                </a>
              </h5>
            </div>
            <div class="show">
              <div class="card-body card-body--categories">
                <a href="/education/college/centennial-college" class="card-body-link">
                  <span>百年理工学院<br>Centennial</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/college/seneca" class="card-body-link">
                  <span>圣力嘉学院<br>Seneca</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/college/sheridan" class="card-body-link">
                  <span>谢尔丹学院<br>Sheridan</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/college/george-brown" class="card-body-link">
                  <span>乔治布朗学院<br>George Brown</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/college/humber" class="card-body-link">
                  <span>汉博学院<br>Humber</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/college/bcit" class="card-body-link active">
                  <span>哥伦比亚理工学院<br>BCIT</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/college/winnipeg-technical-college" class="card-body-link">
                  <span>温尼伯技术学院<br>Winnipeg Technical College</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/college/red-river" class="card-body-link">
                  <span>红河学院<br>Red River College</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a class="btn btn-link collapsed" href="/education/basic">
                  <span class="btn-link-title">基础类大学</span>
                  <img src="/icon/chevron-down-circle.svg" class="btn-link-chevron">
                </a>
              </h5>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a class="btn btn-link collapsed" href="/education/doctor">
                  <span class="btn-link-title">医博类大学</span>
                  <img src="/icon/chevron-down-circle.svg" class="btn-link-chevron">
                </a>
              </h5>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a class="btn btn-link collapsed" href="/education/complex">
                  <span class="btn-link-title">综合类大学</span>
                  <img src="/icon/chevron-down-circle.svg" class="btn-link-chevron">
                </a>
              </h5>
            </div>
          </div>

          <div class="card-body-apply">
            <a href="/在线申请表.docx" class="card-body-apply-btn" download>
              <img src="/icon/download-solid.svg" style="height: 25px; width: 25px;">
              <span>下载申请表单</span>
            </a>
          </div>
        </div>
      </div>

      <div class="col-lg-9">
        <div class="education-tab">
          <div class="row no-gutters">
            <div class="col-2">
              <a class="btn education-tab-link" href="/education"><span>高中</span></a>
            </div>
            <div class="col-2">
              <a class="btn education-tab-link active" href="/education/college"><span>COLLEGE</span></a>
            </div>
            <div class="col-2">
              <a class="btn education-tab-link" href="/education/basic"><span>基础类大学</span></a>
            </div>
            <div class="col-2">
              <a class="btn education-tab-link" href="/education/doctor"><span>医博类大学</span></a>
            </div>
            <div class="col-2">
              <a class="btn education-tab-link" href="/education/complex"><span>综合类大学</span></a>
            </div>
          </div>
        </div>

        <div class="education-text">
          <div class="education-text-heading">
            <h3>哥伦比亚理工学院—BCIT</h3>
          </div>
          <div class="education-text-content">
            <p>哥伦比亚理工学院British Columbia Institute of Technology (BCIT) 是是加拿大目前规模最大的综合性应用理工大学。BCIT一直受到企业和社会的广泛好评和欢迎。越来越多的加拿大工商企业在招收关键技术和管理人才时，都将BCIT的毕业生列为首选。</p>

            <p>
              <strong>学校类别：</strong><br>
              可以获得学位，大专文凭，研究生文凭等学历的公立大专院校
            </p>

            <p>
              <strong>适合学生：</strong><br>
              英语水平良好，希望通过转学分进入大学的等高中毕业生，国内大专生
            </p>

            <p>
              <strong>入学及申请截止日期：</strong><br>
              1,5,9月专业开学1,3,5,7,9,11月均有语言开课
            </p>

            <div>
              <strong>学校优势：</strong>
              <ul>
                <li>学校处于气候宜人、风景秀丽的加拿大温哥华</li>
                <li>加拿大政府公认高薪水、高就业率，很多美国及加拿大工商企业将BCIT毕业生作为首选</li>
                <li>BCIT2年大专文凭+2年本科学士学位的双段式授课模式，可先就业移民，再深造</li>
              </ul>
            </div>

						<p>
              <strong>优势专业：</strong><br>
              机场管理，飞机维修，平面设计，土木工程，机械自动化，广播与大众传媒，测量学，人力资源管理，计算机信息技术等
            </p>

            <div>
              <p><strong>申请流程及要求：</strong></p>
              <strong>大专：</strong>高中毕业 雅思6/单科不低于5.5 提供双录取<br>
              <strong>本科：</strong>高中毕业 雅思6.5/单科不低于6 提供双录取<br>
              <strong>研究生文凭课程：</strong>大专或本科毕业 雅思6.5/单科不低于6 可双录取
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>

  {{>social-link}}
</div>
