<div class="education">
	<div class="education-header">
    <div class="education-header-container">
      <h1>学校介绍</h1>
      <p>
        加拿大实行“培养人才第一”的教育制度，大多数学校实行为公立教育，全部经过加拿大政府的
        严格审查，总体教育水平也处于世界前列。一般大学分为三大类，即医学博士类（医博类）大学
        、综合类大学、基础类大学
			</p>
    </div>
  </div>

  <div class="container container--large">
    <div class="row">

      <div class="col-lg-3">
        <div class="education-accordion">
          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a class="btn btn-link collapsed" href="/education">
                  <span class="btn-link-title">高中</span>
                  <img src="/icon/chevron-down-circle.svg" class="btn-link-chevron">
                </a>
              </h5>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a class="btn btn-link" href="/education/college">
                  <span class="btn-link-title">COLLEGE</span>
                  <img src="/icon/chevron-down-circle.svg" class="btn-link-chevron">
                </a>
              </h5>
            </div>
            <div class="show">
              <div class="card-body card-body--categories">
                <a href="/education/college/centennial-college" class="card-body-link active">
                  <span>百年理工学院<br>Centennial</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/college/seneca" class="card-body-link">
                  <span>圣力嘉学院<br>Seneca</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/college/sheridan" class="card-body-link">
                  <span>谢尔丹学院<br>Sheridan</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/college/george-brown" class="card-body-link">
                  <span>乔治布朗学院<br>George Brown</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/college/humber" class="card-body-link">
                  <span>汉博学院<br>Humber</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/college/bcit" class="card-body-link">
                  <span>哥伦比亚理工学院<br>BCIT</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/college/winnipeg-technical-college" class="card-body-link">
                  <span>温尼伯技术学院<br>Winnipeg Technical College</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/college/red-river" class="card-body-link">
                  <span>红河学院<br>Red River College</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a class="btn btn-link collapsed" href="/education/basic">
                  <span class="btn-link-title">基础类大学</span>
                  <img src="/icon/chevron-down-circle.svg" class="btn-link-chevron">
                </a>
              </h5>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a class="btn btn-link collapsed" href="/education/doctor">
                  <span class="btn-link-title">医博类大学</span>
                  <img src="/icon/chevron-down-circle.svg" class="btn-link-chevron">
                </a>
              </h5>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a class="btn btn-link collapsed" href="/education/complex">
                  <span class="btn-link-title">综合类大学</span>
                  <img src="/icon/chevron-down-circle.svg" class="btn-link-chevron">
                </a>
              </h5>
            </div>
          </div>

          <div class="card-body-apply">
            <a href="/在线申请表.docx" class="card-body-apply-btn" download>
              <img src="/icon/download-solid.svg" style="height: 25px; width: 25px;">
              <span>下载申请表单</span>
            </a>
          </div>
        </div>
      </div>

      <div class="col-lg-9">
        <div class="education-tab">
          <div class="row no-gutters">
            <div class="col-2">
              <a class="btn education-tab-link" href="/education"><span>高中</span></a>
            </div>
            <div class="col-2">
              <a class="btn education-tab-link active" href="/education/college"><span>COLLEGE</span></a>
            </div>
            <div class="col-2">
              <a class="btn education-tab-link" href="/education/basic"><span>基础类大学</span></a>
            </div>
            <div class="col-2">
              <a class="btn education-tab-link" href="/education/doctor"><span>医博类大学</span></a>
            </div>
            <div class="col-2">
              <a class="btn education-tab-link" href="/education/complex"><span>综合类大学</span></a>
            </div>
          </div>
        </div>

        <div class="education-text">
          <div class="education-text-heading">
            <h3>百年理工学院—Centennial</h3>
          </div>
          <div class="education-text-content">
            <p>百年理工学院(Centennial College)位于国际化大都市多伦多，建校已有34年历史。是加拿大安省地区，最早成立的公立学院。 加拿大百年理工学院是多伦多市四所公立高等职业培育机构之一，提供超过160种国际认可的证书、大专文凭、大学学士学位及研究生证书等课程，专业范围涵盖商业、旅游与文化、工程技术与应用科学、健康与社区研究、交通、传媒与设计，以及英语语言等。涉及动手能力的专业、理工科专业、电脑相关专业，都是其比较高就业率的优势专业。雇主对毕业生满意度高达95.5%</p>

            <p>
              <strong>学校课程：</strong><br>
              2年及3年大专文凭课程<br>
              4年学士学位课程<br>
              1年及2年研究生文凭课程
            </p>

            <p>
              <strong>适合学生：</strong><br>
              成绩优秀的高中毕业生，大专及以上毕业生
            </p>

            <p>
              <strong>入学及申请截止日期：</strong><br>
              每年1、5、9月，全年即可申请。
            </p>

            <div>
              <strong>学校优势：</strong>
              <ul>
                <li>安省最早的综合性公立学院</li>
                <li>地理位置优越 交通方便</li>
                <li>所有专业均可申请语言+专业双录取</li>
                <li>开设2年的研究生文凭课程，可获得3年工作签证</li>
                <li>与全球多所大学合作，与加西大学合作开设1+1 硕士学位课程</li>
                <li>在加拿大有至少3个全日制学期学习经历的学生，无需雅思或托福成绩，可直录</li>
                <li>5.5分雅思成绩学生，可确保不用就读纯语言课程</li>
                <li>年满19周岁的学生，可免除高中毕业证书，获得录取通知书</li>
              </ul>
            </div>

            <p>
              <strong>优势课程：</strong>
            </p>

            <div>
              <strong>大专：</strong><br>
              Business-Operations 商业-运营<br>
              Law Clerk 法律文书<br>
              Baking - Pastry Arts Management 烘焙及糕点艺术管理<br>
              Tourism Management-Cultural and Heritage Tourism 旅游管理-文化遗产旅游<br>
              Architectural Technology 建筑技术<br>
              Electrical Engineering Technician 电力工程技师<br>
              Computer System Technician-Networking 计算机系统技师-网络<br>
              Mechanical Engineering Technician-Design 机械工程技师-设计<br>
              Software Engineering Technician 软件工程技师<br>
              (Automotive) Motive Power Technician–Technical 汽车引擎技师-技术<br>
              Aviation Technician-Aircraft Maintenance 航空技师-飞机维护<br>
              Early Childhood Education  儿童早期教育<br>
              Game Art and Design   游戏设计和开发
            </div>

            <div>
              <strong>学士学位：</strong><br>
              Computer and Communication Networking (co-op) <br>
              计算机和通讯网络 （带薪实习） <br>
              Software Systems Design (co-op) <br>
              软件系统设计 （带薪实习） <br>
              Bridging to Software Systems Design <br>
              软件系统设计（桥梁课程） <br>
              Bachelor of Science in Nursing 理学学士 – 护理学
            </div>

            <div>
              <strong>研究生文凭课程：</strong><br>
              Construction Management 建筑管理 <br>
              Corporate Communications and Public Relations  公司通讯和公共关系<br>
              Financial Planning  金融计划<br>
              Global Business Management  环球商务管理（2年研究生文凭课程）<br>
              Logistics Management 物流管理<br>
              Payroll Management 薪酬管理<br>
              Paralegal    律师助理<br>
              Project Management    项目管理<br>
              Workplace Wellness and Health Promotion 工作场所的健康和健康促进<br>
              Strategic Management 策略管理
            </div>

            <div>
              <p><strong>申请要求：</strong></p>
              <strong>语言课程：</strong>1、5、9三次开学，开学后每三周均可插班入学<br>
              <strong>大专课程：</strong>高中及同等学历毕业学生或高三在读学生，高中平均成绩不低于70分；雅思6.0（单科5.5）或托福80（单科20）可申请直录<br>
              <strong>学士学位课程：</strong>高中以上毕业学生或高三在读学生，高中平均成绩不低于70分；雅思6.5（单科6.0）或托福84（单科21）可申请直录<br>
              <strong>研究生文凭课程：</strong>3年大专以上毕业学生或2年大专+1年工作经验，平均成绩不低于70分；雅思6.5（单科6.0）或托福88（单科22）可申请直录
            </div>

            <p>
              <strong>学校费用：</strong><br>
              申请费：95加币<br>
              学费：12000-14000加币（1年）学士学位及特殊专业学费偏高
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>

  {{>social-link}}
</div>
