<div class="education">
	<div class="education-header">
    <div class="education-header-container">
      <h1>学校介绍</h1>
      <p>
        加拿大实行“培养人才第一”的教育制度，大多数学校实行为公立教育，全部经过加拿大政府的
        严格审查，总体教育水平也处于世界前列。一般大学分为三大类，即医学博士类（医博类）大学
        、综合类大学、基础类大学
			</p>
    </div>
  </div>

  <div class="container container--large">
    <div class="row">

      <div class="col-lg-3">
        <div class="education-accordion">
          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a class="btn btn-link collapsed" href="/education">
                  <span class="btn-link-title">高中</span>
                  <img src="/icon/chevron-down-circle.svg" class="btn-link-chevron">
                </a>
              </h5>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a class="btn btn-link" href="/education/college">
                  <span class="btn-link-title">COLLEGE</span>
                  <img src="/icon/chevron-down-circle.svg" class="btn-link-chevron">
                </a>
              </h5>
            </div>
            <div class="show">
              <div class="card-body card-body--categories">
                <a href="/education/college/centennial-college" class="card-body-link">
                  <span>百年理工学院<br>Centennial</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/college/seneca" class="card-body-link">
                  <span>圣力嘉学院<br>Seneca</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/college/sheridan" class="card-body-link">
                  <span>谢尔丹学院<br>Sheridan</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/college/george-brown" class="card-body-link active">
                  <span>乔治布朗学院<br>George Brown</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/college/humber" class="card-body-link">
                  <span>汉博学院<br>Humber</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/college/bcit" class="card-body-link">
                  <span>哥伦比亚理工学院<br>BCIT</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/college/winnipeg-technical-college" class="card-body-link">
                  <span>温尼伯技术学院<br>Winnipeg Technical College</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/college/red-river" class="card-body-link">
                  <span>红河学院<br>Red River College</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a class="btn btn-link collapsed" href="/education/basic">
                  <span class="btn-link-title">基础类大学</span>
                  <img src="/icon/chevron-down-circle.svg" class="btn-link-chevron">
                </a>
              </h5>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a class="btn btn-link collapsed" href="/education/doctor">
                  <span class="btn-link-title">医博类大学</span>
                  <img src="/icon/chevron-down-circle.svg" class="btn-link-chevron">
                </a>
              </h5>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a class="btn btn-link collapsed" href="/education/complex">
                  <span class="btn-link-title">综合类大学</span>
                  <img src="/icon/chevron-down-circle.svg" class="btn-link-chevron">
                </a>
              </h5>
            </div>
          </div>

          <div class="card-body-apply">
            <a href="/在线申请表.docx" class="card-body-apply-btn" download>
              <img src="/icon/download-solid.svg" style="height: 25px; width: 25px;">
              <span>下载申请表单</span>
            </a>
          </div>
        </div>
      </div>

      <div class="col-lg-9">
        <div class="education-tab">
          <div class="row no-gutters">
            <div class="col-2">
              <a class="btn education-tab-link" href="/education"><span>高中</span></a>
            </div>
            <div class="col-2">
              <a class="btn education-tab-link active" href="/education/college"><span>COLLEGE</span></a>
            </div>
            <div class="col-2">
              <a class="btn education-tab-link" href="/education/basic"><span>基础类大学</span></a>
            </div>
            <div class="col-2">
              <a class="btn education-tab-link" href="/education/doctor"><span>医博类大学</span></a>
            </div>
            <div class="col-2">
              <a class="btn education-tab-link" href="/education/complex"><span>综合类大学</span></a>
            </div>
          </div>
        </div>

        <div class="education-text">
          <div class="education-text-heading">
            <h3>乔治布朗学院—George Brown</h3>
          </div>
          <div class="education-text-content">
            <p>George Brown即乔治.布朗学院诞生于1967年，是加拿大最大的社区学院之一。学校提供超过一百多种证书，文凭及研究生科系，是加拿大所有学院中全职课程范围最广的一所。而且提供完整并具盛名的强化英语课程亦可帮助海外学生提高英语水平。</p>

            <p>
              <strong>学校课程：</strong><br>
              2年及3年大专文凭课程<br>
              4年学士学位课程<br>
              1年研究生文凭课程
            </p>

            <p>
              <strong>适合学生：</strong><br>
              成绩优秀的高中毕业生，大专及以上毕业生
            </p>

            <p>
              <strong>入学及申请截止日期：</strong><br>
              每年1、9月，建议开课前6个月申请。
            </p>

            <div>
              <strong>学校优势：</strong>
              <ul>
                <li>地理位置优越 位于多伦多市中心 交通方便</li>
                <li>所有专业均可申请语言+专业双录取</li>
                <li>厨师和珠宝设计是其优势专业</li>
                <li>与全球多所大学合作</li>
                <li>提供较多的带薪实习课程</li>
                <li>向在校国际学生提供多种奖学金申请</li>
              </ul>
            </div>

            <p>
              <strong>优势课程：</strong>
            </p>

            <div>
              <strong>证书或大专：</strong><br>
              Art and Design Foundation  艺术与设计基础<br>
              Fashion Management  时装管理<br>
              Jewelry Methods  珠宝技艺<br>
              Gemology  宝石学<br>
              Business Administration - Supply Chain   供应链管理<br>
              Business Administration - Project Management  项目管理<br>
              Early Childhood Education  儿童早期教育<br>
              Community Worker  社区工作者<br>
              Construction Engineering Technology  施工工程技术<br>
              Civil Engineering Technology 土木工程技术<br>
              Baking and Pastry Arts Management  烘焙糕饼艺术<br>
              Culinary Management  烹饪管理
            </div>

            <div>
              <strong>学士学位：</strong><br>
              Early Childhood Education  儿童早期教育<br>
              Bachelor of Business Administration (Hospitality)  酒店管理
            </div>

            <div>
              <strong>研究生文凭课程：</strong><br>
              Design Management  设计管理<br>
              Digital Design - Game Design    游戏设计<br>
              International Fashion Development and Management   国际时装管理<br>
              Small Business Entrepreneurship   小型企业创办<br>
              Health Informatics   健康信息学<br>
              Culinary Arts - Italian   意大利烹饪艺术<br>
              Food and Nutrition Management   食品与营养管理
            </div>

            <div>
              <p><strong>申请要求：</strong></p>
              <strong>语言课程：</strong>每单月开学<br>
              <strong>大专课程：</strong>高中及同等学历毕业学生或高三在读学生，高中平均成绩不低于70分；雅思6.0（单科5.5）或托福80（单科20）可申请直录（PS.药房技术员要求雅思6.5）<br>
              <strong>学士学位课程：</strong>高中以上毕业学生或高三在读学生，高中平均成绩不低于70分；雅思6.5（单科6.0）或托福92（单科22）可申请直录<br>
              <strong>研究生文凭课程：</strong>3年大专以上毕业学生，平均成绩不低于70分；雅思6.5（单科6.0）或托福84（单科21）可申请直录
            </div>

            <p>
              <strong>学校费用：</strong><br>
              申请费：65加币<br>
              学费：12000-15000加币（1年）学士学位及特殊专业学费偏高
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>

  {{>social-link}}
</div>
