<div class="education">
	<div class="education-header">
    <div class="education-header-container">
      <h1>学校介绍</h1>
      <p>
        加拿大实行“培养人才第一”的教育制度，大多数学校实行为公立教育，全部经过加拿大政府的
        严格审查，总体教育水平也处于世界前列。一般大学分为三大类，即医学博士类（医博类）大学
        、综合类大学、基础类大学
			</p>
    </div>
  </div>

  <div class="container container--large">
    <div class="row">

      <div class="col-lg-3">
        <div class="education-accordion">
          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a class="btn btn-link collapsed" href="/education">
                  <span class="btn-link-title">高中</span>
                  <img src="/icon/chevron-down-circle.svg" class="btn-link-chevron">
                </a>
              </h5>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a class="btn btn-link" href="/education/college">
                  <span class="btn-link-title">COLLEGE</span>
                  <img src="/icon/chevron-down-circle.svg" class="btn-link-chevron">
                </a>
              </h5>
            </div>
            <div class="show">
              <div class="card-body card-body--categories">
                <a href="/education/college/centennial-college" class="card-body-link">
                  <span>百年理工学院<br>Centennial</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/college/seneca" class="card-body-link">
                  <span>圣力嘉学院<br>Seneca</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/college/sheridan" class="card-body-link">
                  <span>谢尔丹学院<br>Sheridan</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/college/george-brown" class="card-body-link">
                  <span>乔治布朗学院<br>George Brown</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/college/humber" class="card-body-link active">
                  <span>汉博学院<br>Humber</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/college/bcit" class="card-body-link">
                  <span>哥伦比亚理工学院<br>BCIT</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/college/winnipeg-technical-college" class="card-body-link">
                  <span>温尼伯技术学院<br>Winnipeg Technical College</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/college/red-river" class="card-body-link">
                  <span>红河学院<br>Red River College</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a class="btn btn-link collapsed" href="/education/basic">
                  <span class="btn-link-title">基础类大学</span>
                  <img src="/icon/chevron-down-circle.svg" class="btn-link-chevron">
                </a>
              </h5>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a class="btn btn-link collapsed" href="/education/doctor">
                  <span class="btn-link-title">医博类大学</span>
                  <img src="/icon/chevron-down-circle.svg" class="btn-link-chevron">
                </a>
              </h5>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a class="btn btn-link collapsed" href="/education/complex">
                  <span class="btn-link-title">综合类大学</span>
                  <img src="/icon/chevron-down-circle.svg" class="btn-link-chevron">
                </a>
              </h5>
            </div>
          </div>

          <div class="card-body-apply">
            <a href="/在线申请表.docx" class="card-body-apply-btn" download>
              <img src="/icon/download-solid.svg" style="height: 25px; width: 25px;">
              <span>下载申请表单</span>
            </a>
          </div>
        </div>
      </div>

      <div class="col-lg-9">
        <div class="education-tab">
          <div class="row no-gutters">
            <div class="col-2">
              <a class="btn education-tab-link" href="/education"><span>高中</span></a>
            </div>
            <div class="col-2">
              <a class="btn education-tab-link active" href="/education/college"><span>COLLEGE</span></a>
            </div>
            <div class="col-2">
              <a class="btn education-tab-link" href="/education/basic"><span>基础类大学</span></a>
            </div>
            <div class="col-2">
              <a class="btn education-tab-link" href="/education/doctor"><span>医博类大学</span></a>
            </div>
            <div class="col-2">
              <a class="btn education-tab-link" href="/education/complex"><span>综合类大学</span></a>
            </div>
          </div>
        </div>

				<div class="education-text">
          <div class="education-text-heading">
            <h3>汉博学院—Humber</h3>
          </div>
          <div class="education-text-content">
            <p>汉博学院（Humber College）位于安大略省多伦多市， 1967年建校，严谨、优良的学术氛围使得Humber学院在安大略省拥有良好的口碑。据官方调查表明，学生普遍认为Humber学院的课程和服务以及设施在多伦多首屈一指，并且在全加都名列前茅。 Humber学院是著名的安大略学院体系中的组成部分。开设了150门以上的全日制课程，其中很多都在加拿大独树一帜。此外，学校是美国“社区学院革命新联盟”中唯一的加拿大成员。</p>

            <p>
              <strong>学校课程：</strong><br>
              2年及3年大专文凭课程<br>
              4年学士学位课程<br>
              1年研究生文凭课程
            </p>

            <p>
              <strong>适合学生：</strong><br>
              成绩优秀的高中毕业生，大专、本科毕业生
            </p>

            <p>
              <strong>入学及申请截止日期：</strong><br>
              每年1、5、9月，全年即可申请。
            </p>

            <div>
              <strong>学校优势：</strong>
              <ul>
                <li>安省最大的综合性公立学院</li>
                <li>地理位置优越 交通方便</li>
                <li>所有专业均可申请语言+专业双录取</li>
                <li>90%以上专业可参与带薪或无薪实习</li>
                <li>与全球40多所大学合作</li>
                <li>开设最多的学士学位课程，绝大多数可参与4个月的带薪实习</li>
                <li>开设最多的研究生文凭课程，并且有一个2年制研究生文凭课程</li>
                <li>多种奖学金申请方式，并且为国际生提供入学奖学金</li>
              </ul>
            </div>

            <p>
              <strong>优势课程：</strong>
            </p>

            <div>
              <strong>大专：</strong><br>
              Acting for Film and Television 电影电视<br>
              Business Management - Financial Services   商业管理-金融<br>
              Community and Justice Services 社区司法服务<br>
              Creative Photography   创意摄影<br>
              Early Childhood Education 儿童早期教育<br>
              Food and Nutrition Management 食品营养管理<br>
              Hospitality Management   酒店管理
            </div>

            <div>
              <strong>学士学位：</strong><br>
              Bachelor of Child and Youth Care	儿童与青少年保健<br>
              Bachelor of Commerce - Accounting	 会计<br>
              Bachelor of Commerce - e-Business Marketing	 电子商务营销<br>
              Bachelor of Commerce - Fashion Management	时尚管理<br>
              Bachelor of Commerce - Finance金融<br>
              Bachelor of Commerce - Hospitality and Tourism Management	 酒店旅游管理<br>
              Bachelor of Commerce - Supply Chain Management	 供应链管理
            </div>

            <div>
              <strong>研究生文凭课程：</strong><br>
              Clinical Research    数据研究<br>
              Early Childhood Education  早期儿童教育<br>
              Event Management   事件管理<br>
              Global Business Management  全球商业管理（2年制研究生文凭课程）<br>
              Information Technology Solutions  信息技术解决方案<br>
              Research Analyst   数据分析<br>
              Web Development  网站开发
            </div>

            <div>
              <p><strong>申请要求：</strong></p>
              <strong>语言课程：</strong>每单月开课，所有学生皆可申请<br>
              <strong>大专课程：</strong>高中及同等学历毕业学生或高三在读学生，高中平均成绩不低于70分；雅思6.0（单科5.5）或托福80（单科20）可申请直录（PS.药房技术员要求雅思6.5）<br>
              <strong>学士学位课程：</strong>高中以上毕业学生或高三在读学生，高中平均成绩不低于70分；雅思6.5（单科6.0）或托福84（单科21）可申请直录<br>
              <strong>研究生文凭课程：</strong>4年学士学位以上毕业学生，平均成绩不低于70分；雅思6.5（单科6.0）或托福88（单科22）可申请直录
            </div>

            <p>
              <strong>学校费用：</strong><br>
              申请费：75加币<br>
              学费：12000-14000加币（1年）个别热门专业学费偏高
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>

  {{>social-link}}
</div>
