<div class="education">
	<div class="education-header">
    <div class="education-header-container">
      <h1>学校介绍</h1>
      <p>
        加拿大实行“培养人才第一”的教育制度，大多数学校实行为公立教育，全部经过加拿大政府的
        严格审查，总体教育水平也处于世界前列。一般大学分为三大类，即医学博士类（医博类）大学
        、综合类大学、基础类大学
			</p>
    </div>
  </div>

  <div class="container container--large">
    <div class="row">

      <div class="col-lg-3">
        <div class="education-accordion">
          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a class="btn btn-link collapsed" href="/education">
                  <span class="btn-link-title">高中</span>
                  <img src="/icon/chevron-down-circle.svg" class="btn-link-chevron">
                </a>
              </h5>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a class="btn btn-link" href="/education/college">
                  <span class="btn-link-title">COLLEGE</span>
                  <img src="/icon/chevron-down-circle.svg" class="btn-link-chevron">
                </a>
              </h5>
            </div>
            <div class="show">
              <div class="card-body card-body--categories">
                <a href="/education/college/centennial-college" class="card-body-link">
                  <span>百年理工学院<br>Centennial</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/college/seneca" class="card-body-link active">
                  <span>圣力嘉学院<br>Seneca</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/college/sheridan" class="card-body-link">
                  <span>谢尔丹学院<br>Sheridan</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/college/george-brown" class="card-body-link">
                  <span>乔治布朗学院<br>George Brown</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/college/humber" class="card-body-link">
                  <span>汉博学院<br>Humber</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/college/bcit" class="card-body-link">
                  <span>哥伦比亚理工学院<br>BCIT</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/college/winnipeg-technical-college" class="card-body-link">
                  <span>温尼伯技术学院<br>Winnipeg Technical College</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/college/red-river" class="card-body-link">
                  <span>红河学院<br>Red River College</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a class="btn btn-link collapsed" href="/education/basic">
                  <span class="btn-link-title">基础类大学</span>
                  <img src="/icon/chevron-down-circle.svg" class="btn-link-chevron">
                </a>
              </h5>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a class="btn btn-link collapsed" href="/education/doctor">
                  <span class="btn-link-title">医博类大学</span>
                  <img src="/icon/chevron-down-circle.svg" class="btn-link-chevron">
                </a>
              </h5>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a class="btn btn-link collapsed" href="/education/complex">
                  <span class="btn-link-title">综合类大学</span>
                  <img src="/icon/chevron-down-circle.svg" class="btn-link-chevron">
                </a>
              </h5>
            </div>
          </div>

          <div class="card-body-apply">
            <a href="/在线申请表.docx" class="card-body-apply-btn" download>
              <img src="/icon/download-solid.svg" style="height: 25px; width: 25px;">
              <span>下载申请表单</span>
            </a>
          </div>
        </div>
      </div>

      <div class="col-lg-9">
        <div class="education-tab">
          <div class="row no-gutters">
            <div class="col-2">
              <a class="btn education-tab-link" href="/education"><span>高中</span></a>
            </div>
            <div class="col-2">
              <a class="btn education-tab-link active" href="/education/college"><span>COLLEGE</span></a>
            </div>
            <div class="col-2">
              <a class="btn education-tab-link" href="/education/basic"><span>基础类大学</span></a>
            </div>
            <div class="col-2">
              <a class="btn education-tab-link" href="/education/doctor"><span>医博类大学</span></a>
            </div>
            <div class="col-2">
              <a class="btn education-tab-link" href="/education/complex"><span>综合类大学</span></a>
            </div>
          </div>
        </div>

        <div class="education-text">
          <div class="education-text-heading">
            <h3>圣力嘉学院—Seneca</h3>
          </div>
          <div class="education-text-content">
            <p>圣力嘉应用艺术与技术学院(Seneca College) 成立于1967年, 拥有8个校区, 拥有小校区的和谐和雄踞大城市的优势，圣力嘉学院是最早一批获得中国教育部认可的加拿大学校之一，是公认的加拿大最大的公立高等教育学院。并且是加拿大唯一一所在2005年奥斯卡颁奖典礼上获得认可的学院。</p>

            <p>
              <strong>学校课程：</strong><br>
              2年及3年大专文凭课程<br>
              4年学士学位课程<br>
              1年研究生文凭课程
            </p>

            <p>
              <strong>适合学生：</strong><br>
              成绩优秀的高中毕业生，大专、本科毕业生
            </p>

            <p>
              <strong>入学及申请截止日期：</strong><br>
              每年1、5、9月，全年即可申请。
            </p>

            <div>
              <strong>学校优势：</strong>
              <ul>
                <li>加拿大最大的公立学院之一</li>
                <li>部分专业无合格语言可申请语言+专业双录取</li>
                <li>文科、商科为优势专业</li>
                <li>与全球50所大学合作；与约克大学共用校区，转学分认可度最高</li>
                <li>部分优势专业就业率可达100%</li>
              </ul>
            </div>

            <p>
              <strong>优势课程：</strong>
            </p>

            <div>
              <strong>大专：</strong><br>
              Business Administration 商科类别课程<br>
              Early Childhood Education 早期幼儿教育<br>
              Computer Programmer  计算机编程<br>
              Fashion Arts  时尚艺术<br>
              Aviation Operations 航空<br>
              Mechanical Engineering Technician/Technology 机械工程师<br>
              Paralegal 律师助理
            </div>

            <div>
              <strong>学士学位：</strong><br>
              Bachelor of Technology - Software Development Degree - (Co-op) 软件开发<br>
              Bachelor of Commerce - International Accounting and Finance Degree - (Co-op) 国际会计及金融<br>
              Bachelor of Child Development - (Co-op) 儿童发展<br>
              Nursing 护理（与约克大学合作）
            </div>

            <div>
              <strong>研究生文凭课程：</strong><br>
              Pharmaceutical Regulatory Affairs and Quality Operations - (Co-op) 药品质检<br>
              Professional Accounting Practice 专业会计实务<br>
              Energy Management - Built Environment 能源管理<br>
              International Business Management 国际商务管理（可以双录取）
            </div>

            <div>
              <p><strong>申请要求：</strong></p>
              <strong>语言课程：</strong>每单月开课，所有学生皆可申请<br>
              <strong>大专课程：</strong>高中及同等学历毕业学生或高三在读学生，高中平均成绩不低于70分；雅思6.0（单科5.5）或托福80（单科20）可申请直录<br>
              <strong>学士学位课程：</strong>高中以上毕业学生或高三在读学生，高中平均成绩不低于75分；雅思6.5（单科6.0）或托福84（单科21）可申请直录<br>
              <strong>研究生文凭课程：</strong>3年大专以上毕业学生，大专平均成绩不低于75分；雅思6.5（单科6.0）或托福88（单科22）申请直录<br>研文课程（国际商务管理）可以申请双录取
            </div>

            <p>
              <strong>学校费用：</strong><br>
              申请费：65加币<br>
              学费：12000-14000加币（1年）个别热门专业学费偏高
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>

  {{>social-link}}
</div>
