<div class="education">
	<div class="education-header">
    <div class="education-header-container">
      <h1>学校介绍</h1>
      <p>
        加拿大实行“培养人才第一”的教育制度，大多数学校实行为公立教育，全部经过加拿大政府的
        严格审查，总体教育水平也处于世界前列。一般大学分为三大类，即医学博士类（医博类）大学
        、综合类大学、基础类大学
			</p>
    </div>
  </div>

  <div class="container container--large">
    <div class="row">

      <div class="col-lg-3">
        <div class="education-accordion">
          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a class="btn btn-link collapsed" href="/education">
                  <span class="btn-link-title">高中</span>
                  <img src="/icon/chevron-down-circle.svg" class="btn-link-chevron">
                </a>
              </h5>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a class="btn btn-link" href="/education/college">
                  <span class="btn-link-title">COLLEGE</span>
                  <img src="/icon/chevron-down-circle.svg" class="btn-link-chevron">
                </a>
              </h5>
            </div>
            <div class="show">
              <div class="card-body card-body--categories">
                <a href="/education/college/centennial-college" class="card-body-link">
                  <span>百年理工学院<br>Centennial</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/college/seneca" class="card-body-link">
                  <span>圣力嘉学院<br>Seneca</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/college/sheridan" class="card-body-link">
                  <span>谢尔丹学院<br>Sheridan</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/college/george-brown" class="card-body-link">
                  <span>乔治布朗学院<br>George Brown</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/college/humber" class="card-body-link">
                  <span>汉博学院<br>Humber</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/college/bcit" class="card-body-link">
                  <span>哥伦比亚理工学院<br>BCIT</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/college/winnipeg-technical-college" class="card-body-link active">
                  <span>温尼伯技术学院<br>Winnipeg Technical College</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/college/red-river" class="card-body-link">
                  <span>红河学院<br>Red River College</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a class="btn btn-link collapsed" href="/education/basic">
                  <span class="btn-link-title">基础类大学</span>
                  <img src="/icon/chevron-down-circle.svg" class="btn-link-chevron">
                </a>
              </h5>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a class="btn btn-link collapsed" href="/education/doctor">
                  <span class="btn-link-title">医博类大学</span>
                  <img src="/icon/chevron-down-circle.svg" class="btn-link-chevron">
                </a>
              </h5>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a class="btn btn-link collapsed" href="/education/complex">
                  <span class="btn-link-title">综合类大学</span>
                  <img src="/icon/chevron-down-circle.svg" class="btn-link-chevron">
                </a>
              </h5>
            </div>
          </div>

          <div class="card-body-apply">
            <a href="/在线申请表.docx" class="card-body-apply-btn" download>
              <img src="/icon/download-solid.svg" style="height: 25px; width: 25px;">
              <span>下载申请表单</span>
            </a>
          </div>
        </div>
      </div>

      <div class="col-lg-9">
        <div class="education-tab">
          <div class="row no-gutters">
            <div class="col-2">
              <a class="btn education-tab-link" href="/education"><span>高中</span></a>
            </div>
            <div class="col-2">
              <a class="btn education-tab-link active" href="/education/college"><span>COLLEGE</span></a>
            </div>
            <div class="col-2">
              <a class="btn education-tab-link" href="/education/basic"><span>基础类大学</span></a>
            </div>
            <div class="col-2">
              <a class="btn education-tab-link" href="/education/doctor"><span>医博类大学</span></a>
            </div>
            <div class="col-2">
              <a class="btn education-tab-link" href="/education/complex"><span>综合类大学</span></a>
            </div>
          </div>
        </div>

        <div class="education-text">
          <div class="education-text-heading">
            <h3>温尼伯技术学院—Winnipeg Technical College</h3>
          </div>
          <div class="education-text-content">
            <p>温尼伯技术学院(Winnipeg Technical College，简称WTC)是一所中型技能训练学校，属于社区学院，是和原来的三所社区学校合并而来。并将于7月1日正式更名为MITT（Manitoba Institute of Trades and Technology) 。</p>

            <p>
              <strong>学校类别：</strong><br>
              可以获得大专文凭，学士学位和研究生文凭的公立学院
            </p>

            <p>
              <strong>适合学生：</strong><br>
              英语良好，成绩良好的高中毕业生，大专和本科毕业生
            </p>

            <p>
              <strong>入学及申请截止日期：</strong><br>
              每年1,5,9月开学，建议正课最好提前6个月申请，语言最好提前3个月申请
            </p>

            <div>
              <strong>学校优势：</strong>
              <ul>
                <li>位于温尼伯市，曼省省府，环境友好、安全</li>
                <li>和雇主们有良好的商业教育合作伙伴关系</li>
                <li>学费生活费低廉</li>
                <li>与温尼伯大学有联合课程，为与温尼伯大学失之交臂的同学提供第二次机会</li>
              </ul>
            </div>

						<p>
              <strong>优势专业：</strong><br>
              商业、计算机、绘图及机械工程英语、法语、语言学、教育学、人文学、汽车维修、理发师等
            </p>

            <div>
              <p><strong>申请流程及要求：</strong></p>
              <strong>大专：</strong>高中毕业 雅思6/单科不低于5.5 提供双录取<br>
              <strong>本科：</strong>高中毕业 雅思6.5/单科不低于6 提供双录取<br>
              <strong>研究生文凭课程：</strong>大专或本科毕业 雅思6.5/单科不低于6 可双录取
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>

  {{>social-link}}
</div>
