<div class="blog-categories">
  <div class="blog-categories-header">
    <div id="carouselBlogIndicators" class="carousel vert slide" data-ride="carousel">
	    <ol class="carousel-indicators carousel-indicators--round">
	      <li data-target="#carouselBlogIndicators" data-slide-to="0" class="active"></li>
	      <li data-target="#carouselBlogIndicators" data-slide-to="1"></li>
	    </ol>
			<div class="carousel-inner">
		    <div class="carousel-item active">
					<img class="d-block w-100" src="/images/blog/news-header.png" alt="First slide">
		    </div>
		    <div class="carousel-item">
					<img class="d-block w-100" src="/images/blog/news-slider-2.jpg" alt="First slide">
		    </div>
		  </div>
		  <a class="carousel-control-prev" href="#carouselBlogIndicators" role="button" data-slide="prev">
		    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
		    <span class="sr-only">Previous</span>
		  </a>
		  <a class="carousel-control-next" href="#carouselBlogIndicators" role="button" data-slide="next">
		    <span class="carousel-control-next-icon" aria-hidden="true"></span>
		    <span class="sr-only">Next</span>
		  </a>
	  </div>
  </div>

  <div class="container container--large">
    <div class="row">
      <div class="col-lg-3">

        <div class="blog-accordion" id="blog-post-accordion">
          <div class="card">
            <div class="card-header" id="blog-post-headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#blog-post-collapseOne" aria-expanded="true" aria-controls="blog-post-collapseOne">
                  <span class="btn-link-title">移民项目</span>
                  <img src="/icon/chevron-down-circle.svg" class="btn-link-chevron">
                </button>
              </h5>
            </div>

            <div id="blog-post-collapseOne" class="collapse show" aria-labelledby="blog-post-headingOne" data-parent="#blog-post-accordion">
              <div class="card-body card-body--categories">
                 <a href="/project" class="card-body-link">曼尼托巴省留学<br>移民快速通道</a>
                 <a href="/project/2" class="card-body-link active">曼尼托巴省提名移民<br>商业投资类</a>
                 <a href="/project/3" class="card-body-link">加拿大就业移民项目<br>经验移民项目</a>
                 <a href="/project/4" class="card-body-link">加拿大就业移民项目<br>雇主经营项目</a>
                 <a href="/project/5" class="card-body-link">加拿大经商移民项目</a>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="col-lg-9">
        <div class="blog-categories-posts">
          <div class="blog-categories-posts-heading">
            <div>
    					<!-- <span class="blog-categories-posts-heading-name">{{data.post.categories}} | </span><a href="/blog" class="blog-categories-posts-heading-link">阅读所有内容</a> -->
              <span class="blog-categories-posts-heading-red">曼尼托巴省提名移民－商业投资类</span>
    				</div>
          </div>
					<div class="row mb-5">
						<div class="col-12">
							<article class="blog-single-post">
								<header>
									<h1 class="blog-single-post-heading">“曼尼托巴省提名移民－商业投资类”项目说明</h1>
									<h5 class="blog-single-post-info">
										<!-- Dec 1st, 2017 -->
									</h5>
									<hr>
								</header>
								<div class="blog-single-post-content">
									<div class="blog-single-post-content-section">
                    <h3>项目背景</h3>
                    <p>是由加拿大联邦政府和曼尼托巴省政府共同签订的允许曼尼托巴省单独甄选移民的项目。它为 该省征募、提名那些能给曼省增加就业机会
                    及促进该省经济发展的企业家移民，并为他们提供获得加拿大长期居住权的机会。</p>
                    <p>加拿大曼尼托巴省投资移民要求申请人在面试前必须在该省开展不少于 7 天的投资考察。获得该省移民局省提名批准后，申请人需要将投资款压金
                    10 万加币存入该省指定政府账户，待申请人成功获得签证后并履行投资行为后，该省将压金退给申请人。</p>
                  </div>
                  <div class="blog-single-post-content-section">
                    <h3>申请条件：</h3>
                    <ol>
                      <li>拥有个人资产超过 35 万加币（约 220 万人民币）， 包含房产、汽车、有价证券及贵重金属等有形资产。</li>
                      <li>愿意到曼尼托巴省内任何城市投资 15 万加币（约 95 万人民币），包含商用汽车、机器、厂房、等商业有形资产投资。</li>
                      <li>愿意提供 10 万加币投资保证金，两年后无息返还。</li>
                      <li>有过往三年或以上成功商业经营经验或高级管理经验。</li>
                    </ol>
                  </div>
                  <div class="blog-single-post-content-section">
                    <h3>申请步骤：</h3>
                    <ol>
                      <li>
                        商务考察
                        <ol class="blog-single-post-content-section-order-list-b">
                          <li>对曼尼托巴省进行实地商务考察</li>
                          <li>与曼尼托巴省商务部官团探讨投资及商业机会</li>
                        </ol>
                      </li>
                      <li>提交商业投资计划及省提名申请</li>
                      <li>商业计划以通过后向省政府提交 10 万加币投资保证金并签署投资协议</li>
                      <li>获得省提名证书</li>
                      <li>提交移民申请表格</li>
                      <li>得到移民签证后，全家移民加拿大曼尼托巴省内任何城市</li>
                      <li>两年内完成预期投资并成功经营</li>
                      <li>
                        移民落地两年后申请 10 万加币保证金返还
                        <ol class="blog-single-post-content-section-order-list-b">
                          <li>如无法完成预期投资项目，保证金不返还，但是永久居留身份不会被取消。</li>
                          <li>如移民落地后两年内完成预期投资并成功经营，10 万加币会返还至申请人账户。</li>
                        </ol>
                      </li>
                    </ol>
                  </div>
								</div>
							</article>
						</div>
					</div>
        </div>

      </div>
    </div>

  </div>

  {{>social-link}}
</div>
