<div class="education">
	<div class="education-header">
    <div class="education-header-container">
      <h1>学校介绍</h1>
      <p>
        加拿大实行“培养人才第一”的教育制度，大多数学校实行为公立教育，全部经过加拿大政府的
        严格审查，总体教育水平也处于世界前列。一般大学分为三大类，即医学博士类（医博类）大学
        、综合类大学、基础类大学
			</p>
    </div>
  </div>

  <div class="container container--large">
    <div class="row">

      <div class="col-lg-3">
        <div class="education-accordion">
          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a class="btn btn-link collapsed" href="/education">
                  <span class="btn-link-title">高中</span>
                  <img src="/icon/chevron-down-circle.svg" class="btn-link-chevron">
                </a>
              </h5>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a class="btn btn-link collapsed" href="/education/college">
                  <span class="btn-link-title">COLLEGE</span>
                  <img src="/icon/chevron-down-circle.svg" class="btn-link-chevron">
                </a>
              </h5>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a class="btn btn-link collapsed" href="/education/basic">
                  <span class="btn-link-title">基础类大学</span>
                  <img src="/icon/chevron-down-circle.svg" class="btn-link-chevron">
                </a>
              </h5>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a class="btn btn-link collapsed" href="/education/doctor">
                  <span class="btn-link-title">医博类大学</span>
                  <img src="/icon/chevron-down-circle.svg" class="btn-link-chevron">
                </a>
              </h5>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a class="btn btn-link" href="/education/complex">
                  <span class="btn-link-title">综合类大学</span>
                  <img src="/icon/chevron-down-circle.svg" class="btn-link-chevron">
                </a>
              </h5>
            </div>
            <div class="show">
              <div class="card-body card-body--categories">
                <a href="/education/complex/york" class="card-body-link">
                  <span>约克大学<br>York University</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/complex/waterloo" class="card-body-link">
                  <span>滑铁卢大学<br>University of Waterloo</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/complex/ryerson" class="card-body-link">
                  <span>瑞尔森大学<br>Ryerson University</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/complex/windsor" class="card-body-link">
                  <span>温莎大学<br>University of Windsor</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/complex/carleton" class="card-body-link">
                  <span>卡尔顿大学<br>Carleton University</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/complex/brock" class="card-body-link active">
                  <span>布鲁克大学<br>Brock University</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/complex/sfu" class="card-body-link">
                  <span>西蒙弗雷泽大学<br>Simon Fraser University</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/complex/victoria" class="card-body-link">
                  <span>维多利亚大学<br>University of Victoria</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/complex/concordia" class="card-body-link">
                  <span>康考迪亚大学<br>Concordia University</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
              </div>
            </div>
          </div>

          <div class="card-body-apply">
            <a href="/在线申请表.docx" class="card-body-apply-btn" download>
              <img src="/icon/download-solid.svg" style="height: 25px; width: 25px;">
              <span>下载申请表单</span>
            </a>
          </div>
        </div>
      </div>

      <div class="col-lg-9">
        <div class="education-tab">
          <div class="row no-gutters">
            <div class="col-2">
              <a class="btn education-tab-link" href="/education"><span>高中</span></a>
            </div>
            <div class="col-2">
              <a class="btn education-tab-link" href="/education/college"><span>COLLEGE</span></a>
            </div>
            <div class="col-2">
              <a class="btn education-tab-link" href="/education/basic"><span>基础类大学</span></a>
            </div>
            <div class="col-2">
              <a class="btn education-tab-link" href="/education/doctor"><span>医博类大学</span></a>
            </div>
            <div class="col-2">
              <a class="btn education-tab-link active" href="/education/complex"><span>综合类大学</span></a>
            </div>
          </div>
        </div>

        <div class="education-text">
          <div class="education-text-heading">
            <h3>布鲁克大学—Brock</h3>
          </div>
          <div class="education-text-content">
            <p>布鲁克大学（Brock University）位于安大略省圣凯瑟琳市南部，安大略湖畔，距尼亚加拉瀑布和美国边境驱车仅20分钟的路程，距多伦多市约100多公里。创建于1964年，是加拿大前十名最有价值的公立大学之一。学生总数10453人，在校本科生9840人，来自60多个国家和地区的国际生有249人，占比例2%。布鲁克大学以安大略省十七所大学中最高的毕业生就业率（97.5%）傲视整个安大略省。</p>

            <div>
              <p><strong>学校课程：</strong></p>
              <p>
                <strong>本科学士学位专业：</strong><br>
                艺术和人文学院：健康教育；<br>
                社会科学学院：环境科学、环境研究、人力资源；<br>
                商学院：工商管理、会计学、金融/银行学、国际经济学、商业经济学；<br>
                理工学院：计算机科学计算机信息系统。
              </p>
              <p>
                <strong>硕士学位专业：</strong><br>
                艺术和人文学院：健康教育科学、教育学；<br>
                社会科学学院：心理学、地球科学；<br>
                商学院：会计学；<br>
                理工学院：生物科学、生物工艺学、化学、物理学。
              </p>
            </div>

            <p>
              <strong>适合学生：</strong><br>
              成绩优秀的高中毕业生，学士学位毕业生
            </p>

            <p>
              <strong>入学及申请截止日期：</strong><br>
              每年9月，当年4月截止申请，分别在上一年秋季和当年春季两次面试
            </p>

            <div>
              <strong>学校优势：</strong>
              <ul>
                <li>布鲁克大学是加拿大可以授予会计硕士学位的仅有四所大学之一。</li>
                <li>申请学生人数和毕业生就业率在安大略省17所大学中排名第一，是加拿大全国最好的大学之一</li>
                <li>校内具有北美唯一的葡萄培育和葡萄酒酿造场地</li>
                <li>90%以上的本科专业都设有Co-op工作机会</li>
                <li>布鲁克是安大略省就业率最高的大学，为97.5%</li>
              </ul>
            </div>

            <div>
              <p><strong>申请流程及要求：</strong></p>
              <p><strong>学士学位课程：</strong>高中毕业学生或高三在读学生，高中平均成绩不低于80分；雅思6.5（单科6.0）</p>
              <p><strong>硕士课程：</strong>学士学位毕业学生，平均成绩不低于85分；雅思6.5（单科5.5）参与面试，若语言不合格可参与笔试。</p>
            </div>

            <p>
              <strong>学校费用：</strong><br>
              申请费：4150RMB 包括（申请费、面试费、邮寄费等）<br>
              学费：25000-30000加币（1年）
            </p>

          </div>
        </div>
      </div>

    </div>
  </div>

  {{>social-link}}
</div>
