<div class="education">
	<div class="education-header">
    <div class="education-header-container">
      <h1>学校介绍</h1>
      <p>
        加拿大实行“培养人才第一”的教育制度，大多数学校实行为公立教育，全部经过加拿大政府的
        严格审查，总体教育水平也处于世界前列。一般大学分为三大类，即医学博士类（医博类）大学
        、综合类大学、基础类大学
			</p>
    </div>
  </div>

  <div class="container container--large">
    <div class="row">

      <div class="col-lg-3">
        <div class="education-accordion">
          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a class="btn btn-link collapsed" href="/education">
                  <span class="btn-link-title">高中</span>
                  <img src="/icon/chevron-down-circle.svg" class="btn-link-chevron">
                </a>
              </h5>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a class="btn btn-link collapsed" href="/education/college">
                  <span class="btn-link-title">COLLEGE</span>
                  <img src="/icon/chevron-down-circle.svg" class="btn-link-chevron">
                </a>
              </h5>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a class="btn btn-link collapsed" href="/education/basic">
                  <span class="btn-link-title">基础类大学</span>
                  <img src="/icon/chevron-down-circle.svg" class="btn-link-chevron">
                </a>
              </h5>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a class="btn btn-link collapsed" href="/education/doctor">
                  <span class="btn-link-title">医博类大学</span>
                  <img src="/icon/chevron-down-circle.svg" class="btn-link-chevron">
                </a>
              </h5>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a class="btn btn-link" href="/education/complex">
                  <span class="btn-link-title">综合类大学</span>
                  <img src="/icon/chevron-down-circle.svg" class="btn-link-chevron">
                </a>
              </h5>
            </div>
            <div class="show">
              <div class="card-body card-body--categories">
                <a href="/education/complex/york" class="card-body-link">
                  <span>约克大学<br>York University</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/complex/waterloo" class="card-body-link">
                  <span>滑铁卢大学<br>University of Waterloo</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/complex/ryerson" class="card-body-link">
                  <span>瑞尔森大学<br>Ryerson University</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/complex/windsor" class="card-body-link">
                  <span>温莎大学<br>University of Windsor</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/complex/carleton" class="card-body-link active">
                  <span>卡尔顿大学<br>Carleton University</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/complex/brock" class="card-body-link">
                  <span>布鲁克大学<br>Brock University</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/complex/sfu" class="card-body-link">
                  <span>西蒙弗雷泽大学<br>Simon Fraser University</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/complex/victoria" class="card-body-link">
                  <span>维多利亚大学<br>University of Victoria</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/complex/concordia" class="card-body-link">
                  <span>康考迪亚大学<br>Concordia University</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
              </div>
            </div>
          </div>

          <div class="card-body-apply">
            <a href="/在线申请表.docx" class="card-body-apply-btn" download>
              <img src="/icon/download-solid.svg" style="height: 25px; width: 25px;">
              <span>下载申请表单</span>
            </a>
          </div>
        </div>
      </div>

      <div class="col-lg-9">
        <div class="education-tab">
          <div class="row no-gutters">
            <div class="col-2">
              <a class="btn education-tab-link" href="/education"><span>高中</span></a>
            </div>
            <div class="col-2">
              <a class="btn education-tab-link" href="/education/college"><span>COLLEGE</span></a>
            </div>
            <div class="col-2">
              <a class="btn education-tab-link" href="/education/basic"><span>基础类大学</span></a>
            </div>
            <div class="col-2">
              <a class="btn education-tab-link" href="/education/doctor"><span>医博类大学</span></a>
            </div>
            <div class="col-2">
              <a class="btn education-tab-link active" href="/education/complex"><span>综合类大学</span></a>
            </div>
          </div>
        </div>

        <div class="education-text">
          <div class="education-text-heading">
            <h3>卡尔顿大学—Carleton</h3>
          </div>
          <div class="education-text-content">
            <p>卡尔顿大学（Carleton University）建于1942年成立，是由安大略湖省的基督教青年会发起建立的，1957年正式成为大学，是加拿大著名的公立大学。卡尔顿大学位于加拿大首都渥太华市中心。卡尔顿大学在新闻传媒，经济学，公共事务管理，生化等高科技领域享有较高声誉。</p>

            <div>
              <p><strong>学校课程：</strong></p>
              <p>
                <strong>学士学位课程：</strong><br>
                建筑：建筑研究<br>
                文科：艺术与文化、艺术史、人类学、经济、环境研究、电影研究、地理、历史、法律、语言学及实用语言研究、大众传媒、音乐、哲学、宗教、女性研究<br>
                商科：财会、商业经营分析、金融及信息系统、国际商务、市场营销、人力资源、管理、经营管理<br>
                计算机：管理及商务系统、网络计算机、软件及计算机、软件工程<br>
                工类：航空工程、通讯工程、计算机系统工程、电子工程、环境工程、机械工程<br>
                数学： 计算机数学、计算机统计、数学、统计
              </p>
              <p>
                <strong>硕士学位课程:</strong><br>
                建筑学：建筑设计 文科：电影研究、音乐与文化<br>
                生物：生物学、化学与环境毒物学 商科：MBA、<br>
                化学：化学 语言学：应用语言研究<br>
                土木与环境工程：土木工程(MAS)、环境工程(MAS)、土木工程（ME）、环境工程(ME)<br>
                传媒学：传媒 计算机科学：计算机科学<br>
                地球科学：地球科学 经济学：经济学<br>
                电子学：电子与计算机工程 地理与环境研究：地理学<br>
                工业设计：工业设计 新闻与传媒：新闻学<br>
                法律：法律研究 物理：高能源、医学、现代科技<br>
                数学与统计学：数学、应用数学、生物统计学、概率与统计<br>
                机械与空间工程：生物医学工程、空间工程、材料学、机械工程<br>
                心理学：心理学、神经系统科学<br>
                公共管理：公共管理 社会学与人类学：人类学、社会学、定量方法论<br>
                社会工作：社会工作 系统与计算机工程：电子与计算机工程、科技与创新管理
              </p>
            </div>

            <p>
              <strong>适合学生：</strong><br>
              成绩优秀的高中毕业生，学士学位毕业生
            </p>

            <p>
              <strong>入学及申请截止日期：</strong><br>
              学士学位：每年1、5、9三次入学   截止日期：4月、10月<br>
              硕士学位：每年1、5、9三次入学   截止日期：11月、8月
            </p>

            <div>
              <strong>学校优势：</strong>
              <ul>
                <li>新闻学院被公认是加拿大最好的新闻学院</li>
                <li>地理位置优越 位于首都</li>
                <li>与渥太华大学合作办学 资源丰富</li>
                <li>与商业及其他教育单位有着良好的合作关系</li>
              </ul>
            </div>

            <div>
              <p><strong>申请流程及要求：</strong></p>
              <p><strong>学士学位课程：</strong>高中毕业学生或高三在读学生，高中平均成绩不低于80分、会考成绩、雅思6.5（单科6.0）</p>
              <p><strong>硕士课程：</strong>四年学士学位毕业学生，GPA3.0以上；雅思6.5（单科6.0）</p>
            </div>

            <p>
              <strong>学校费用：</strong><br>
              申请费：100加币<br>
              学费：20000-25000加币（1年）
            </p>

          </div>
        </div>
      </div>

    </div>
  </div>

  {{>social-link}}
</div>
