<div class="education">
	<div class="education-header">
    <div class="education-header-container">
      <h1>学校介绍</h1>
      <p>
        加拿大实行“培养人才第一”的教育制度，大多数学校实行为公立教育，全部经过加拿大政府的
        严格审查，总体教育水平也处于世界前列。一般大学分为三大类，即医学博士类（医博类）大学
        、综合类大学、基础类大学
			</p>
    </div>
  </div>

  <div class="container container--large">
    <div class="row">

      <div class="col-lg-3">
        <div class="education-accordion">
          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a class="btn btn-link collapsed" href="/education">
                  <span class="btn-link-title">高中</span>
                  <img src="/icon/chevron-down-circle.svg" class="btn-link-chevron">
                </a>
              </h5>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a class="btn btn-link collapsed" href="/education/college">
                  <span class="btn-link-title">COLLEGE</span>
                  <img src="/icon/chevron-down-circle.svg" class="btn-link-chevron">
                </a>
              </h5>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a class="btn btn-link collapsed" href="/education/basic">
                  <span class="btn-link-title">基础类大学</span>
                  <img src="/icon/chevron-down-circle.svg" class="btn-link-chevron">
                </a>
              </h5>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a class="btn btn-link collapsed" href="/education/doctor">
                  <span class="btn-link-title">医博类大学</span>
                  <img src="/icon/chevron-down-circle.svg" class="btn-link-chevron">
                </a>
              </h5>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a class="btn btn-link" href="/education/complex">
                  <span class="btn-link-title">综合类大学</span>
                  <img src="/icon/chevron-down-circle.svg" class="btn-link-chevron">
                </a>
              </h5>
            </div>
            <div class="show">
              <div class="card-body card-body--categories">
                <a href="/education/complex/york" class="card-body-link">
                  <span>约克大学<br>York University</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/complex/waterloo" class="card-body-link">
                  <span>滑铁卢大学<br>University of Waterloo</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/complex/ryerson" class="card-body-link">
                  <span>瑞尔森大学<br>Ryerson University</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/complex/windsor" class="card-body-link">
                  <span>温莎大学<br>University of Windsor</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/complex/carleton" class="card-body-link">
                  <span>卡尔顿大学<br>Carleton University</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/complex/brock" class="card-body-link">
                  <span>布鲁克大学<br>Brock University</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/complex/sfu" class="card-body-link">
                  <span>西蒙弗雷泽大学<br>Simon Fraser University</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/complex/victoria" class="card-body-link">
                  <span>维多利亚大学<br>University of Victoria</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/complex/concordia" class="card-body-link active">
                  <span>康考迪亚大学<br>Concordia University</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
              </div>
            </div>
          </div>

          <div class="card-body-apply">
            <a href="/在线申请表.docx" class="card-body-apply-btn" download>
              <img src="/icon/download-solid.svg" style="height: 25px; width: 25px;">
              <span>下载申请表单</span>
            </a>
          </div>
        </div>
      </div>

      <div class="col-lg-9">
        <div class="education-tab">
          <div class="row no-gutters">
            <div class="col-2">
              <a class="btn education-tab-link" href="/education"><span>高中</span></a>
            </div>
            <div class="col-2">
              <a class="btn education-tab-link" href="/education/college"><span>COLLEGE</span></a>
            </div>
            <div class="col-2">
              <a class="btn education-tab-link" href="/education/basic"><span>基础类大学</span></a>
            </div>
            <div class="col-2">
              <a class="btn education-tab-link" href="/education/doctor"><span>医博类大学</span></a>
            </div>
            <div class="col-2">
              <a class="btn education-tab-link active" href="/education/complex"><span>综合类大学</span></a>
            </div>
          </div>
        </div>

        <div class="education-text">
          <div class="education-text-heading">
            <h3>康考迪亚大学 Concordia University</h3>
          </div>
          <div class="education-text-content">
            <p>康考迪亚大学 Concordia University，是位于加拿大第二大城市蒙特利尔的一所知名综合类公立大学，其在麦考林大学排名中位列加拿大综合类大学第10位，在QS世界大学排名中位列全加拿大第16位、北美第99位、世界第414位。协和的商学院被普遍认可为 世界一流的商学院，是加拿大第一所通过国际高等商学院协会（AACSB）认证的商学院。其工程与计算机科学院实力也很强劲，所有专业都获得了“加拿大工程认证机构（CEAB）”和“美国工程技术认证机构（ABET）”的认证，其毕业生在业界有着非常好的口碑。艺术方面，协和的电影学院是加拿大最大的高校电影研究中心，其毕业生很多已经在世界上享有很高的荣誉，包括奥斯卡奖和金马奖得主。另外，协和以盛产总裁而闻名，在毕业生任世界500强企业总裁数排名中位列加拿大第7位，其毕业生包括加拿大帝国商业银行总裁McCaughey，加拿大第二大电讯公司TELUS的总裁Entwistle，加拿大第一大保险公司MANULIFE的总裁Alessandro，加拿大第一大金融集团Power Corporation of Canada的总裁Desmarais，全球第一大金矿公司Barrick Gold的总裁Wilkins，财富排名世界第一的建筑公司AECOM的水电和大坝业务北美副总裁Vissa等。</p>

            <p>
              <strong>学校类别：</strong><br>
              可以获得本科学位和硕士学位的公立大学
            </p>

            <p>
              <strong>适合学生：</strong><br>
              英语优秀，成绩优秀的高中毕业生，本科毕业生(申请硕士必须有学士学位)
            </p>

            <p>
              <strong>入学及申请截止日期：</strong><br>
              每年9月开学，申请截止日期：同年2月
            </p>

            <div>
              <strong>学校优势：</strong>
              <ul>
                <li>良好的学术环境</li>
                <li>现代化的教学设施</li>
                <li>多姿多彩的学生体验</li>
                <li>教学与实践结合</li>
              </ul>
            </div>

            <div>
              <strong>优势专业：</strong><br>
              Biochemistry 生物化学专业、DESIGN设计专业、国际商务专业
            </div>

            <div>
              <p><strong>申请流程及要求：</strong></p>
              <ul><strong>国际学生本科生入学条件：</strong>
                <li>高中毕业生、高三在读生</li>
                <li>高中毕业并参加全国高考</li>
                <li>课程平均成绩：80％。热门专业会要求更高的平均成绩</li>
                <li>IELTS总分为7分或者以上 ，单科成绩不低于6.5</li>
                <li>托福网络考试 (TOEFL iBT) 为90分或以上 单科成绩不低于20分</li>
                <li>CAEL总分为70分或者以上</li>
              </ul>
              <ul><strong>国际学生研究生入学条件：</strong>
                <li>获得学士学位证书——最低四年制专业</li>
                <li>成绩/等级：80-89分，良好</li>
                <li>IELTS总分为7分或者以上，单科成绩不低于6.5</li>
                <li>托福网络考试 (TOEFL iBT) 为90分或以上，单科成绩不低于20分</li>
                <li>CAEL总分为70分或者以上</li>
              </ul>
            </div>

            <p>
              <strong>学费概况：</strong><br>
              全日制（30个学分）<br>
              学费约$15,707.10 – $21,212.40<br>
              管理费约$1,233 – $1,428<br>
              国际学生医疗保险约$999<br>
              总额（未计书本、房租及交通）约$17,939.10 – $23,639.40<br>
              书本及书具约$1,000
            </p>

          </div>
        </div>
      </div>

    </div>
  </div>

  {{>social-link}}
</div>
