<div class="education">
	<div class="education-header">
    <div class="education-header-container">
      <h1>学校介绍</h1>
      <p>
        加拿大实行“培养人才第一”的教育制度，大多数学校实行为公立教育，全部经过加拿大政府的
        严格审查，总体教育水平也处于世界前列。一般大学分为三大类，即医学博士类（医博类）大学
        、综合类大学、基础类大学
			</p>
    </div>
  </div>

  <div class="container container--large">
    <div class="row">

      <div class="col-lg-3">
        <div class="education-accordion">
          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a class="btn btn-link collapsed" href="/education">
                  <span class="btn-link-title">高中</span>
                  <img src="/icon/chevron-down-circle.svg" class="btn-link-chevron">
                </a>
              </h5>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a class="btn btn-link collapsed" href="/education/college">
                  <span class="btn-link-title">COLLEGE</span>
                  <img src="/icon/chevron-down-circle.svg" class="btn-link-chevron">
                </a>
              </h5>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a class="btn btn-link collapsed" href="/education/basic">
                  <span class="btn-link-title">基础类大学</span>
                  <img src="/icon/chevron-down-circle.svg" class="btn-link-chevron">
                </a>
              </h5>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a class="btn btn-link collapsed" href="/education/doctor">
                  <span class="btn-link-title">医博类大学</span>
                  <img src="/icon/chevron-down-circle.svg" class="btn-link-chevron">
                </a>
              </h5>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a class="btn btn-link" href="/education/complex">
                  <span class="btn-link-title">综合类大学</span>
                  <img src="/icon/chevron-down-circle.svg" class="btn-link-chevron">
                </a>
              </h5>
            </div>
            <div class="show">
              <div class="card-body card-body--categories">
                <a href="/education/complex/york" class="card-body-link">
                  <span>约克大学<br>York University</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/complex/waterloo" class="card-body-link">
                  <span>滑铁卢大学<br>University of Waterloo</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/complex/ryerson" class="card-body-link active">
                  <span>瑞尔森大学<br>Ryerson University</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/complex/windsor" class="card-body-link">
                  <span>温莎大学<br>University of Windsor</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/complex/carleton" class="card-body-link">
                  <span>卡尔顿大学<br>Carleton University</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/complex/brock" class="card-body-link">
                  <span>布鲁克大学<br>Brock University</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/complex/sfu" class="card-body-link">
                  <span>西蒙弗雷泽大学<br>Simon Fraser University</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/complex/victoria" class="card-body-link">
                  <span>维多利亚大学<br>University of Victoria</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/complex/concordia" class="card-body-link">
                  <span>康考迪亚大学<br>Concordia University</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
              </div>
            </div>
          </div>

          <div class="card-body-apply">
            <a href="/在线申请表.docx" class="card-body-apply-btn" download>
              <img src="/icon/download-solid.svg" style="height: 25px; width: 25px;">
              <span>下载申请表单</span>
            </a>
          </div>
        </div>
      </div>

      <div class="col-lg-9">
        <div class="education-tab">
          <div class="row no-gutters">
            <div class="col-2">
              <a class="btn education-tab-link" href="/education"><span>高中</span></a>
            </div>
            <div class="col-2">
              <a class="btn education-tab-link" href="/education/college"><span>COLLEGE</span></a>
            </div>
            <div class="col-2">
              <a class="btn education-tab-link" href="/education/basic"><span>基础类大学</span></a>
            </div>
            <div class="col-2">
              <a class="btn education-tab-link" href="/education/doctor"><span>医博类大学</span></a>
            </div>
            <div class="col-2">
              <a class="btn education-tab-link active" href="/education/complex"><span>综合类大学</span></a>
            </div>
          </div>
        </div>

        <div class="education-text">
          <div class="education-text-heading">
            <h3>瑞尔森大学 Ryerson University</h3>
          </div>
          <div class="education-text-content">
            <p>瑞尔森大学（Ryerson University），加拿大安大略省高等院校之一，与中国传媒大学、苏州大学、哈尔滨工业大学等有国际合作培养交流项目 ，是一所著名公立大学。校址位于加国最大城市多伦多市中心，是一所典型的城市大学。其教学宗旨是“通过实践学习知识” 。很多学生选择瑞尔森大学是因为他们不但可以充分进行实践，而且学校提供的课程为他们未来的就业提供了广泛前景。</p>

            <p>
              <strong>学校类别：</strong><br>
              可以获得本科学位和硕士学位的公立大学
            </p>

            <p>
              <strong>适合学生：</strong><br>
              英语优秀，成绩优秀的高中毕业生，本科毕业生(申请硕士必须有学士学位)
            </p>

            <p>
              <strong>入学及申请截止日期：</strong><br>
              每年9月开学，申请截止日期：同年2月
            </p>

            <div>
              <strong>学校优势：</strong>
              <ul>
                <li>悠久的建校历史</li>
                <li>优良的学校声誉</li>
                <li>卓越的教学质量</li>
              </ul>
            </div>

            <p>
              <strong>优势专业：</strong><br>
              电影制作专业、图像艺术专业、工商管理专业
            </p>

            <div>
              <p><strong>申请流程及要求：</strong></p>
              <ul><strong>国际学生本科生入学条件：</strong>
                <li>高中毕业，提交会考成绩(个别省份无会考，则无需提交)</li>
                <li>提交高考成绩或者大学1年成绩单</li>
                <li>学习成绩：建议80-90;（实际录取情况根据专业不同而变化）</li>
                <li>语言成绩要求：
                  <ul>
                    <li>雅思：学术模块，总分不低于6.5，单项不低于6</li>
                    <li>托福：IBT总分不低于90，写作不低于21</li>
                  </ul>
                </li>
              </ul>
              <ul><strong>国际学生研究生入学条件：</strong>
                <li>学历要求：本科毕业，相关专业背景</li>
                <li>平均分：3.0以上</li>
                <li>语言成绩要求：IBT：93 IELTS：7.0（各专业要求会有不同）</li>
                <li>标准化考试成绩：商科提交GMAT，理文工建议提交GRE</li>
              </ul>
            </div>

            <p>
              <strong>学校费用：</strong><br>
              学费：$24,730.89~ $27,868.66/学年<br>
              生活费用：约$15,000／年
            </p>

          </div>
        </div>
      </div>

    </div>
  </div>

  {{>social-link}}
</div>
