<div class="education">
	<div class="education-header">
    <div class="education-header-container">
      <h1>学校介绍</h1>
      <p>
        加拿大实行“培养人才第一”的教育制度，大多数学校实行为公立教育，全部经过加拿大政府的
        严格审查，总体教育水平也处于世界前列。一般大学分为三大类，即医学博士类（医博类）大学
        、综合类大学、基础类大学
			</p>
    </div>
  </div>

  <div class="container container--large">
    <div class="row">

      <div class="col-lg-3">
        <div class="education-accordion">
          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a class="btn btn-link collapsed" href="/education">
                  <span class="btn-link-title">高中</span>
                  <img src="/icon/chevron-down-circle.svg" class="btn-link-chevron">
                </a>
              </h5>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a class="btn btn-link collapsed" href="/education/college">
                  <span class="btn-link-title">COLLEGE</span>
                  <img src="/icon/chevron-down-circle.svg" class="btn-link-chevron">
                </a>
              </h5>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a class="btn btn-link collapsed" href="/education/basic">
                  <span class="btn-link-title">基础类大学</span>
                  <img src="/icon/chevron-down-circle.svg" class="btn-link-chevron">
                </a>
              </h5>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a class="btn btn-link collapsed" href="/education/doctor">
                  <span class="btn-link-title">医博类大学</span>
                  <img src="/icon/chevron-down-circle.svg" class="btn-link-chevron">
                </a>
              </h5>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a class="btn btn-link" href="/education/complex">
                  <span class="btn-link-title">综合类大学</span>
                  <img src="/icon/chevron-down-circle.svg" class="btn-link-chevron">
                </a>
              </h5>
            </div>
            <div class="show">
              <div class="card-body card-body--categories">
                <a href="/education/complex/york" class="card-body-link">
                  <span>约克大学<br>York University</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/complex/waterloo" class="card-body-link">
                  <span>滑铁卢大学<br>University of Waterloo</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/complex/ryerson" class="card-body-link">
                  <span>瑞尔森大学<br>Ryerson University</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/complex/windsor" class="card-body-link">
                  <span>温莎大学<br>University of Windsor</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/complex/carleton" class="card-body-link">
                  <span>卡尔顿大学<br>Carleton University</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/complex/brock" class="card-body-link">
                  <span>布鲁克大学<br>Brock University</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/complex/sfu" class="card-body-link">
                  <span>西蒙弗雷泽大学<br>Simon Fraser University</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/complex/victoria" class="card-body-link active">
                  <span>维多利亚大学<br>University of Victoria</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/complex/concordia" class="card-body-link">
                  <span>康考迪亚大学<br>Concordia University</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
              </div>
            </div>
          </div>

          <div class="card-body-apply">
            <a href="/在线申请表.docx" class="card-body-apply-btn" download>
              <img src="/icon/download-solid.svg" style="height: 25px; width: 25px;">
              <span>下载申请表单</span>
            </a>
          </div>
        </div>
      </div>

      <div class="col-lg-9">
        <div class="education-tab">
          <div class="row no-gutters">
            <div class="col-2">
              <a class="btn education-tab-link" href="/education"><span>高中</span></a>
            </div>
            <div class="col-2">
              <a class="btn education-tab-link" href="/education/college"><span>COLLEGE</span></a>
            </div>
            <div class="col-2">
              <a class="btn education-tab-link" href="/education/basic"><span>基础类大学</span></a>
            </div>
            <div class="col-2">
              <a class="btn education-tab-link" href="/education/doctor"><span>医博类大学</span></a>
            </div>
            <div class="col-2">
              <a class="btn education-tab-link active" href="/education/complex"><span>综合类大学</span></a>
            </div>
          </div>
        </div>

        <div class="education-text">
          <div class="education-text-heading">
            <h3>维多利亚大学 University of Victoria</h3>
          </div>
          <div class="education-text-content">
            <p>维多利亚大学(University of Victoria)创建于1916年，是加拿大顶尖综合类研究大学之一，也是规模最大的综合性大学之一，常年位居综合类排名前2名，位于不列颠哥伦比亚省的省会维多利亚市。对于海外学生来讲，维多利亚大学被认为是加拿大高等教育、专业培训和语言强化课程等方面最富有革新精神的大学之一。</p>

            <p>
              <strong>学校类别：</strong><br>
              可以获得本科学位和硕士学位的公立大学
            </p>

            <p>
              <strong>适合学生：</strong><br>
              英语优秀，成绩优秀的高中毕业生，本科毕业生(申请硕士必须有学士学位)
            </p>

            <p>
              <strong>入学及申请截止日期：</strong><br>
              每年9月开学，申请截止日期：同年2月
            </p>

            <div>
              <strong>学校优势：</strong>
              <ul>
                <li>综合排名第二位，全世界最顶尖的1%的大学之一</li>
                <li>适合学习，学校靠近海边，有着宁静的学习环境</li>
                <li>COOP项目每年在全球40多个国家设有3000多个实习岗位</li>
                <li>坐落于维多利亚市，BC省首府，气候温和舒适</li>
              </ul>
            </div>

            <div>
              <strong>优势专业：</strong><br>
              计算机工程，机械工程，统计学，护理，社会技术，公共服务管理，微生物学，历史，艺术历史，人文科学等
            </div>

            <div>
              <p><strong>申请流程及要求：</strong></p>
              <p><strong>本科直录：</strong>雅思6.5 单科6/托福90 单科20， 200加币定金+100加币申请费</p>
              <p><strong>UAP+4年本科：</strong>雅思6.0 单科5.5/托福 79 单科17， 150加币申请费+350加币定金</p>
              <p><strong>UPP+3年本科：</strong> 雅思5.5 单科 5.0/托福 71 单科15，325加币申请费+1000加币定金</p>
              <p><strong>ELPI+4年本科：</strong>无语言要求，150加币申请费+350加币定金</p>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>

  {{>social-link}}
</div>
