<div class="education">
	<div class="education-header">
    <div class="education-header-container">
      <h1>学校介绍</h1>
      <p>
        加拿大实行“培养人才第一”的教育制度，大多数学校实行为公立教育，全部经过加拿大政府的
        严格审查，总体教育水平也处于世界前列。一般大学分为三大类，即医学博士类（医博类）大学
        、综合类大学、基础类大学
			</p>
    </div>
  </div>

  <div class="container container--large">
    <div class="row">

      <div class="col-lg-3">
        <div class="education-accordion">
          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a class="btn btn-link collapsed" href="/education">
                  <span class="btn-link-title">高中</span>
                  <img src="/icon/chevron-down-circle.svg" class="btn-link-chevron">
                </a>
              </h5>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a class="btn btn-link collapsed" href="/education/college">
                  <span class="btn-link-title">COLLEGE</span>
                  <img src="/icon/chevron-down-circle.svg" class="btn-link-chevron">
                </a>
              </h5>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a class="btn btn-link collapsed" href="/education/basic">
                  <span class="btn-link-title">基础类大学</span>
                  <img src="/icon/chevron-down-circle.svg" class="btn-link-chevron">
                </a>
              </h5>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a class="btn btn-link collapsed" href="/education/doctor">
                  <span class="btn-link-title">医博类大学</span>
                  <img src="/icon/chevron-down-circle.svg" class="btn-link-chevron">
                </a>
              </h5>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a class="btn btn-link" href="/education/complex">
                  <span class="btn-link-title">综合类大学</span>
                  <img src="/icon/chevron-down-circle.svg" class="btn-link-chevron">
                </a>
              </h5>
            </div>
            <div class="show">
              <div class="card-body card-body--categories">
                <a href="/education/complex/york" class="card-body-link">
                  <span>约克大学<br>York University</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/complex/waterloo" class="card-body-link active">
                  <span>滑铁卢大学<br>University of Waterloo</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/complex/ryerson" class="card-body-link">
                  <span>瑞尔森大学<br>Ryerson University</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/complex/windsor" class="card-body-link">
                  <span>温莎大学<br>University of Windsor</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/complex/carleton" class="card-body-link">
                  <span>卡尔顿大学<br>Carleton University</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/complex/brock" class="card-body-link">
                  <span>布鲁克大学<br>Brock University</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/complex/sfu" class="card-body-link">
                  <span>西蒙弗雷泽大学<br>Simon Fraser University</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/complex/victoria" class="card-body-link">
                  <span>维多利亚大学<br>University of Victoria</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/complex/concordia" class="card-body-link">
                  <span>康考迪亚大学<br>Concordia University</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
              </div>
            </div>
          </div>

          <div class="card-body-apply">
            <a href="/在线申请表.docx" class="card-body-apply-btn" download>
              <img src="/icon/download-solid.svg" style="height: 25px; width: 25px;">
              <span>下载申请表单</span>
            </a>
          </div>
        </div>
      </div>

      <div class="col-lg-9">
        <div class="education-tab">
          <div class="row no-gutters">
            <div class="col-2">
              <a class="btn education-tab-link" href="/education"><span>高中</span></a>
            </div>
            <div class="col-2">
              <a class="btn education-tab-link" href="/education/college"><span>COLLEGE</span></a>
            </div>
            <div class="col-2">
              <a class="btn education-tab-link" href="/education/basic"><span>基础类大学</span></a>
            </div>
            <div class="col-2">
              <a class="btn education-tab-link" href="/education/doctor"><span>医博类大学</span></a>
            </div>
            <div class="col-2">
              <a class="btn education-tab-link active" href="/education/complex"><span>综合类大学</span></a>
            </div>
          </div>
        </div>

        <div class="education-text">
          <div class="education-text-heading">
            <h3>滑铁卢大学 University of Waterloo</h3>
          </div>
          <div class="education-text-content">
            <div>
              <p>滑铁卢大学 University of Waterloo 位于安大略省西南部的滑铁卢地区，距多伦多市100公里。该校2014年被加拿大最具权威的《麦克林》杂志（MacLean’s）评为加拿大综合类大学第3名。</p>
              <p>大学以高科技为依托，发展速度很快，并一直以其创新精神和优秀的学术背景而闻名于世。学校每年研究经费约为5千万加元，提供完备的诸多专业的本科及研究生教育。</p>
              <p><strong>合作教育（CO-OP）</strong>是滑铁卢大学办学的一大特色和强项。在与外界交流方面，该校是英联邦大学协会成员，与世界上的44个国家有交流项目，和许多大学有着长期的专业合作。学校拥有世界上最大的数学系，在每年为北美大学生举办的“WILLIAM LOWELL PUTNAM”数学竞赛中学校均取得了优异的成绩。</p>
            </div>      

            <p>
              <strong>学校类别：</strong><br>
              可以获得本科学位和硕士学位的公立大学
            </p>

            <p>
              <strong>适合学生：</strong><br>
              英语优秀，成绩优秀的高中毕业生，本科毕业生(申请硕士必须有学士学位)
            </p>

            <p>
              <strong>入学及申请截止日期：</strong><br>
              每年9月开学，申请截止日期：同年2月
            </p>

            <div>
              <strong>学校优势：</strong>
              <ul>
                <li>办学历史悠久</li>
                <li>教学设施完善</li>
                <li>中加合作密切</li>
                <li>所获荣誉众多</li>
                <li>创新精神</li>
              </ul>
            </div>

            <p>
              <strong>优势专业：</strong><br>
              计算机专业、精算专业、会计硕士专业、心理学类专业、环境科学类专业、工程类专业<br>
              滑铁卢大学的计算机专业在权威杂志麦考林推出的加拿大留学最热大学专业排名报告中，排名第三。
            </p>

            <div>
              <p><strong>申请流程及要求：</strong></p>
              <ul><strong>国际学生本科生入学条件：</strong>
                <li>高中毕业</li>
                <li>TOEFL:90（口语、写作：25）</li>
                <li>IELTS:6.5 PTE:63 学校认可国内高考成绩</li>
              </ul>
              <ul><strong>国际学生研究生入学条件：</strong>
                <li>本科毕业：提供本科毕业证明相关材料和大学成绩单。</li>
                <li>托福纸考580分，机考237分，网考90分，英语口语考试45分。</li>
                <li>或雅思7.0分，有些专业要求更高。</li>
              </ul>
            </div>

            <p>
              <strong>学校费用：</strong><br>
              学费约为20,100 加元/ 年-29,700 加元/ 年<br>
              食宿费为9100-9900加元/年（单间）
            </p>

          </div>
        </div>
      </div>

    </div>
  </div>

  {{>social-link}}
</div>
