<div class="education">
	<div class="education-header">
    <div class="education-header-container">
      <h1>学校介绍</h1>
      <p>
        加拿大实行“培养人才第一”的教育制度，大多数学校实行为公立教育，全部经过加拿大政府的
        严格审查，总体教育水平也处于世界前列。一般大学分为三大类，即医学博士类（医博类）大学
        、综合类大学、基础类大学
			</p>
    </div>
  </div>

  <div class="container container--large">
    <div class="row">

      <div class="col-lg-3">
        <div class="education-accordion">
          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a class="btn btn-link collapsed" href="/education">
                  <span class="btn-link-title">高中</span>
                  <img src="/icon/chevron-down-circle.svg" class="btn-link-chevron">
                </a>
              </h5>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a class="btn btn-link collapsed" href="/education/college">
                  <span class="btn-link-title">COLLEGE</span>
                  <img src="/icon/chevron-down-circle.svg" class="btn-link-chevron">
                </a>
              </h5>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a class="btn btn-link collapsed" href="/education/basic">
                  <span class="btn-link-title">基础类大学</span>
                  <img src="/icon/chevron-down-circle.svg" class="btn-link-chevron">
                </a>
              </h5>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a class="btn btn-link collapsed" href="/education/doctor">
                  <span class="btn-link-title">医博类大学</span>
                  <img src="/icon/chevron-down-circle.svg" class="btn-link-chevron">
                </a>
              </h5>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a class="btn btn-link" href="/education/complex">
                  <span class="btn-link-title">综合类大学</span>
                  <img src="/icon/chevron-down-circle.svg" class="btn-link-chevron">
                </a>
              </h5>
            </div>
            <div class="show">
              <div class="card-body card-body--categories">
                <a href="/education/complex/york" class="card-body-link active">
                  <span>约克大学<br>York University</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/complex/waterloo" class="card-body-link">
                  <span>滑铁卢大学<br>University of Waterloo</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/complex/ryerson" class="card-body-link">
                  <span>瑞尔森大学<br>Ryerson University</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/complex/windsor" class="card-body-link">
                  <span>温莎大学<br>University of Windsor</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/complex/carleton" class="card-body-link">
                  <span>卡尔顿大学<br>Carleton University</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/complex/brock" class="card-body-link">
                  <span>布鲁克大学<br>Brock University</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/complex/sfu" class="card-body-link">
                  <span>西蒙弗雷泽大学<br>Simon Fraser University</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/complex/victoria" class="card-body-link">
                  <span>维多利亚大学<br>University of Victoria</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/complex/concordia" class="card-body-link">
                  <span>康考迪亚大学<br>Concordia University</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
              </div>
            </div>
          </div>

          <div class="card-body-apply">
            <a href="/在线申请表.docx" class="card-body-apply-btn" download>
              <img src="/icon/download-solid.svg" style="height: 25px; width: 25px;">
              <span>下载申请表单</span>
            </a>
          </div>
        </div>
      </div>

      <div class="col-lg-9">
        <div class="education-tab">
          <div class="row no-gutters">
            <div class="col-2">
              <a class="btn education-tab-link" href="/education"><span>高中</span></a>
            </div>
            <div class="col-2">
              <a class="btn education-tab-link" href="/education/college"><span>COLLEGE</span></a>
            </div>
            <div class="col-2">
              <a class="btn education-tab-link" href="/education/basic"><span>基础类大学</span></a>
            </div>
            <div class="col-2">
              <a class="btn education-tab-link" href="/education/doctor"><span>医博类大学</span></a>
            </div>
            <div class="col-2">
              <a class="btn education-tab-link active" href="/education/complex"><span>综合类大学</span></a>
            </div>
          </div>
        </div>

        <div class="education-text">
          <div class="education-text-heading">
            <h3>约克大学 York University </h3>
          </div>
          <div class="education-text-content">
            <p>约克大学 York University 位于加拿大第一大城市多伦多北郊，是全加拿大第三大的大学。2017年度加拿大权威杂志《麦考林》综合类大学排名中约克大学位于第7名。一直以来约克大学以工商管理、法律、文科、计算机科学、社会科学等专业而闻名。它的研究生院目前排名安大略省第二，文学院为加拿大第一，Schulich商学院已经连续多年在全球商学院的排名中名列前茅，Osgoode Hall法学院是加拿大最大的法学院，健康学院是个较新的学院，成立于2006年7月。 约克大学成立五十多年以来培养了众多人才，其中著名校友有何厚铧、杨恭如、安大略省前任副省长Lincoln Alexander、 前任加拿大最高法院首席法官John Robert Cartwright、加拿大广播公司董事长Bernd Christmas等。</p>

            <p>
              <strong>学校类别：</strong><br>
              可以获得本科学位和硕士学位的公立大学
            </p>

            <p>
              <strong>适合学生：</strong><br>
              英语优秀，成绩优秀的高中毕业生，本科毕业生(申请硕士必须有学士学位)
            </p>

            <div>
              <strong>学校优势：</strong>
              <ul>
                <li>学术实力雄厚</li>
                <li>注重交叉学科发展</li>
                <li>广泛的课程设置</li>
                <li>优良的设施</li>
                <li>丰富多彩的生活环境</li>
              </ul>
            </div>

            <p>
              <strong>优势专业：</strong><br>
              心理学专业、工程类专业、计算机专业、商科/MBA专业、法学专业<br>
              约克大学的心理学专业，在权威杂志麦考林推出的加拿大留学最热大学专业排名报告中，排名第9
            </p>

            <div>
              <p><strong>申请流程及要求：</strong></p>
              <ul><strong>国际学生本科生入学条件：</strong>
                <li>平均分在90-100分：可以申请Schulich商学院<br>关于舒立赫，申请学生还要有高等代数的成绩，这在中国的普通高中是不太可能有的，而且舒立赫在全美的商科排名非常靠前，基本上很少有亚洲国家的学生得到申请，每个专业也只招15人左右。</li>
                <li>平均分在85-89.9分以上：可以申请文科与专业研究学院的管理学科(商科)，工程学科，生物学科。</li>
                <li>平均分在80-84.9分以上：可以申请人力资源管理学科，化学学科</li>
                <li>平均分在75-79.9分以上：可以申请文学学科，经济，和大多数的科学学科</li>
              </ul>
              <ul><strong>国际学生研究生入学条件：</strong>
                <li>相关四年专业学士学位</li>
                <li>本科成绩80%</li>
                <li>TOEFL 600-577(PBT)或TOEFL 250-233（CBT）</li>
                <li>个别学系要求申请者递交GRE/GMAT成绩。（以上要求视课程而定）</li>
              </ul>
            </div>

            <p>
              <strong>学校费用：</strong><br>
              学费：6,528.84加元/学期<br>
              注：舒立克商学院学费将有所不同
            </p>

          </div>
        </div>
      </div>

    </div>
  </div>

  {{>social-link}}
</div>
