.blog-categories {
  .blog-categories-header {
    margin-top: 75px;
    img {
      width: 100%;
      height: auto;
    }
  }

  .blog-categories-posts {
    .blog-categories-posts-heading {
      margin: 1rem 0;
      .blog-categories-posts-heading-name {
        @include text-level-1;
      }
      .blog-categories-posts-heading-link {
        @include text-level-2;
        color: $red;
        &:hover {
          color: $yellow;
          text-decoration: none;
        }
      }
      .blog-categories-posts-heading-red {
        font-size: 22px;
        color: $red;
      }
    }
    .blog-categories-posts-block {
      .blog-categories-posts-block-title {
        color: $black;
        font-size: 24px;
        letter-spacing: 1px;
        &:hover {
          color: $red;
          text-decoration: none;
        }
      }
      .blog-categories-posts-block-info {
        color: $gray;
        margin-bottom: 1.2rem;
      }
      .blog-categories-posts-block-image {
        width: 100%;
      }
      .blog-categories-posts-block-content {
        padding: 1.5rem 0;
        color: $gray;
      }
    }
  }

  .blog-categories-pagination {
    display: block;
    text-align: center;
    li {
      display: inline-block;
      padding: 0.3rem;
      &.blog-categories-pagination-icon {
        a {
          color: $gray;
          &:hover {
            color: $yellow;
          }
        }
        &.disabled {
          a {
            //cursor: not-allowed;
            cursor: default;
            &:hover {
              color: $gray;
            }
          }
        }
      }
      &.active {
        a {
          color: $yellow;
        }
      }
      a {
        color: $red;
        &:hover {
          color: $yellow;
        }
      }
    }

  }

  .blog-single-post {
    .blog-single-post-heading {
      font-size: 2rem;
      letter-spacing: 2px;
      margin-bottom: 1rem;
    }
    .blog-single-post-info {
      color: $gray;
      font-size: 1rem;
      margin-bottom: 1.5rem;
    }
    .blog-single-post-content {
      margin-top: 1.5rem;
      color: $gray;
      .blog-single-post-content-section {
        margin-bottom: 2rem;
        @include text-level-3;
        h3 {
          font-size: 1.3rem;
          font-weight: bold;
          margin-bottom: 0.8rem;
        }
        .blog-single-post-content-section-order-list-b {
          list-style: lower-alpha;
        }
      }
    }
  }

  @media (min-width: 768px) {
    .blog-categories-posts {
      .blog-categories-posts-block {
        margin-bottom: 2rem;
        .blog-categories-posts-block-title {}
        .blog-categories-posts-block-info {}
        .blog-categories-posts-block-image {}
        .blog-categories-posts-block-content {
          padding: 0;
        }
      }
    }
    .blog-categories-pagination {
      text-align: right;
    }
  }

  @media (min-width: 992px) {
    .blog-categories-header {
      margin-top: 129px;
    }
    .blog-accordion {
      margin-top: 4rem;
    }
    .blog-categories-posts {
      .blog-categories-posts-heading {
        margin: 4rem 0 2rem;
      }
    }
  }

  @media (min-width: 1200px) {
    .blog-categories-posts {
      padding: 0 2rem;
    }
  }

  @media (min-width: 1500px) {
    .blog-categories-posts {
      .blog-categories-posts-block {
        .blog-categories-posts-block-title {}
        .blog-categories-posts-block-info {}
        .blog-categories-posts-block-image {}
        .blog-categories-posts-block-content {
          font-size: 18px;
          letter-spacing: 1px;
        }
      }
    }
  }
}
