.camp {
  .camp-header {
    position: relative;
    margin-top: 75px;
    background-image: url("/images/camp/camp-header.png");
    @include background-cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 70vh;
    min-height: 400px;
    .camp-header-container {
      position: absolute;
      top: 50%;
      left: 50%;
      color: $white;
      transform: translate(-50%, -50%);
      min-width: 250px;
      h1 {
        text-align: center;
        margin-bottom: 1.5rem;
      }
      .camp-header-container-list {
        list-style: none;
        padding: 0;
        .list-item {
          //margin: 0.5rem 0;
          .list-indicator {
            height: 1.125rem;
            width: 1.125rem;
            margin-top: -0.4rem;
            margin-right: 0.5rem;
          }
        }
      }
    }
  }
  .camp-content {
    padding-top: 2rem;
    background-image: url("/images/camp/pattern-pic.png");
    background-repeat: repeat;
    .camp-content-block {
      margin-top: 1rem;
      font-size: 18px;
      letter-spacing: 0.5px;
      color: $black;
      .camp-content-block-heading {
        position: relative;
        .camp-content-block-heading-tab {
          width: 151px;
          height: 125px;
          &--schedule {
            width: 287.5px;
          }
          &--university {
            width: 223px;
          }
        }
        .camp-content-block-heading-title {
          color: $white;
          font-size: 22px;
          position: absolute;
          top: 3rem;
          left: 1.8rem;
        }
      }
      .camp-content-block-text {
        padding: 1.5rem 2rem;
      }
      .camp-content-block-university {
        .camp-content-block-university-subheading {
          padding: 0;
          height: 4rem;
          margin: 1rem 0;
          color: $black;
          img {
            float: left;
            height: 4.5rem;
            width: 4.5rem;
            padding: 0.5rem;
            margin-top: -0.5rem;
          }
          h3 {
            position: relative;
            top: 1.2rem;
            left: 0.8rem;
            font-size: 20px;
            font-weight: bold;
            padding-left: 1rem;
          }
        }
        .camp-content-block-university-course {
          .camp-content-block-university-content-tag {
            background-color: $yellow;
            border-radius: 12px;
            color: $white;
            display: inline-block;
            padding: 0.8rem 1.6rem;
            font-weight: bold;
            margin-bottom: 1.5rem;
            margin-left: 1rem;
          }
          p, ul {
            margin-left: 1rem;
          }
          .camp-content-block-university-course-list {
            list-style: none;
            padding: 0;
            .list-item {
              margin: 0.5rem 0;
              .list-indicator {
                height: 1.125rem;
                width: 1.125rem;
                margin-top: -0.4rem;
                margin-right: 0.8rem;
              }
            }
          }
        }
      }
      .camp-content-block-notice {
        display: flex;
        flex-wrap: wrap;
        .camp-content-block-notice-img {
          flex: 0 0 7%;
          padding: 0 10px;
        }
        .camp-content-block-notice-text {
          padding: 0 10px;
          flex: 0 0 93%;
          color: $red;
          font-size: 18px;
          letter-spacing: 0.5px;
        }
      }
    }
  }
  .carousel {
    padding: 1rem 0 4rem;
    .carousel-indicators {
      bottom: 0;
      &--round li {
        border-radius: 10px;
        margin: 0 0.5rem;
        height: 12px;
        max-width: 12px;
        border: 1px;
        background-color: $black;
        opacity: 0.5;
        cursor: pointer;
        &:hover {
          background-color: $yellow;
        }
      }
      .active {
        background-color: $yellow;
      }
    }
  }

  @media (min-width: 992px) {
    .camp-header {
      height: 50vh;
      margin-top: 129px;
      .camp-header-container {
        .camp-header-container-list {
          list-style: none;
          padding: 0;
          .list-item {
            font-size: 18px;
            letter-spacing: 0.5px;
            margin: 0.5rem 0;
            .list-indicator {
              height: 1.125rem;
              width: 1.125rem;
              margin-top: -0.4rem;
              margin-right: 0.5rem;
            }
          }
        }
      }
    }
    .camp-content {
      padding-bottom: 1rem;
      .camp-content-block {
        .camp-content-block-heading {
          .camp-content-block-heading-tab {
            width: 211.4px;
            height: 175px;
            &--schedule {
              width: 402.5px;
            }
            &--university {
              width: 312.2px;
            }
          }
          .camp-content-block-heading-title {
            font-size: 27px;
            top: 4.4rem;
            left: 3.6rem;
          }
        }
        .camp-content-block-university {
          overflow-y: auto;
          max-height: 830px;
          .camp-content-block-university-course {
            .camp-content-block-university-content-tag {
              margin-left: 6.5rem;
              margin-top: 1rem;
            }
            p, ul {
              margin-left: 6.5rem;
            }
          }
        }
        .camp-content-block-notice {
          .camp-content-block-notice-img {
            flex: 0 0 6%;
            img {
              margin-top: -0.5rem;
            }
          }
          .camp-content-block-notice-text {
            flex: 0 0 94%;
          }
        }
      }
    }
  }
}
