.footer {
  color: $white;
  background-color: $red;
  .footer-content {
    padding: 3rem 0;
    .footer-content-logo {
      text-align: center;
      img {
        max-width: 180px;
      }
    }
    .footer-content-info {
      max-width: 330px;
      @include text-level-3;
      .footer-content-info-img {
        float: left;
      }
    }
  }
  .footer-copyright {
    background-color: $black;
    @include text-level-4;
    padding: 0.8rem;
  }
}
