// Mixins
@mixin transition-all() {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}
@mixin background-cover() {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@mixin text-level-1() {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1px;
}

@mixin text-level-2() {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
}

@mixin text-level-3() {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 25px;
}

@mixin text-level-4() {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
}

@mixin text-level-5() {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2px;
}
