.pass {
  .pass-header {
    position: relative;
    margin-top: 75px;
    background-image: url("/images/pass/pass-header.png");
    @include background-cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 50vh;
    min-height: 400px;
    .pass-header-container {
      position: absolute;
      top: 50%;
      left: 50%;
      color: $white;
      transform: translate(-50%, -50%);
      min-width: 250px;
      h1 {
        text-align: center;
        margin-bottom: 1.5rem;
      }
    }
  }
  .pass-content {
    margin-top: 2rem;
    .pass-content-block {
      margin-top: 1rem;
      .pass-content-block-heading {
        position: relative;
        img {
          width: 235.5px;
          height: 125px;
        }
        h2 {
          color: $white;
          font-size: 24px;
          position: absolute;
          top: 3rem;
          left: 2rem;
        }
        span {
          display: block;
          color: $gray;
          font-size: 22px;
          font-weight: bold;
          padding-left: 1.2rem;
        }
      }
      .pass-content-block-img {
        padding: 2rem 1.2rem 0 1.2rem
      }
      .pass-content-block-text {
        margin: 2rem 0;
        font-size: 18px;
        letter-spacing: 0.5px;
        font-weight: bold;
        color: $gray;
        .pass-content-block-text-sublist {
          list-style: lower-alpha;
        }
        .pass-content-block-text-normal {
          font-weight: normal;
          color: $black;
        }
      }
    }
  }

  @media (min-width: 576px) {
    .pass-content {
      .pass-content-block {
        .pass-content-block-heading {
          span {
            display: inline-block;
            font-size: 18px;
          }
        }
      }
    }
  }

  @media (min-width: 992px) {
    .pass-header {
      margin-top: 129px;
      .pass-header-container {
        p {
          font-size: 18px;
          letter-spacing: 0.5px;
        }
      }
    }
    .pass-content {
      .pass-content-block {
        .pass-content-block-heading {
          img {
            width: 329.7px;
            height: 175px;
          }
          h2 {
            font-size: 27px;
            top: 4.4rem;
            left: 4rem;
          }
          span {
            font-size: 24px;
          }
        }
        .pass-content-block-text {
          overflow-y: auto;
          max-height: 600px;
        }
      }
    }
  }
}
