<div class="education">
	<div class="education-header">
    <div class="education-header-container">
      <h1>学校介绍</h1>
      <p>
        加拿大实行“培养人才第一”的教育制度，大多数学校实行为公立教育，全部经过加拿大政府的
        严格审查，总体教育水平也处于世界前列。一般大学分为三大类，即医学博士类（医博类）大学
        、综合类大学、基础类大学
			</p>
    </div>
  </div>

  <div class="container container--large">
    <div class="row">

      <div class="col-lg-3">
        <div class="education-accordion">
          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a class="btn btn-link collapsed" href="/education">
                  <span class="btn-link-title">高中</span>
                  <img src="/icon/chevron-down-circle.svg" class="btn-link-chevron">
                </a>
              </h5>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a class="btn btn-link" href="/education/college">
                  <span class="btn-link-title">COLLEGE</span>
                  <img src="/icon/chevron-down-circle.svg" class="btn-link-chevron">
                </a>
              </h5>
            </div>
            <div class="show">
              <div class="card-body card-body--categories">
                <a href="/education/college/centennial-college" class="card-body-link">
                  <span>百年理工学院<br>Centennial</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/college/seneca" class="card-body-link">
                  <span>圣力嘉学院<br>Seneca</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/college/sheridan" class="card-body-link">
                  <span>谢尔丹学院<br>Sheridan</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/college/george-brown" class="card-body-link">
                  <span>乔治布朗学院<br>George Brown</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/college/humber" class="card-body-link">
                  <span>汉博学院<br>Humber</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/college/bcit" class="card-body-link">
                  <span>哥伦比亚理工学院<br>BCIT</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/college/winnipeg-technical-college" class="card-body-link">
                  <span>温尼伯技术学院<br>Winnipeg Technical College</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/college/red-river" class="card-body-link">
                  <span>红河学院<br>Red River College</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a class="btn btn-link collapsed" href="/education/basic">
                  <span class="btn-link-title">基础类大学</span>
                  <img src="/icon/chevron-down-circle.svg" class="btn-link-chevron">
                </a>
              </h5>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a class="btn btn-link collapsed" href="/education/doctor">
                  <span class="btn-link-title">医博类大学</span>
                  <img src="/icon/chevron-down-circle.svg" class="btn-link-chevron">
                </a>
              </h5>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a class="btn btn-link collapsed" href="/education/complex">
                  <span class="btn-link-title">综合类大学</span>
                  <img src="/icon/chevron-down-circle.svg" class="btn-link-chevron">
                </a>
              </h5>
            </div>
          </div>

          <div class="card-body-apply">
            <a href="/在线申请表.docx" class="card-body-apply-btn" download>
              <img src="/icon/download-solid.svg" style="height: 25px; width: 25px;">
              <span>下载申请表单</span>
            </a>
          </div>
        </div>
      </div>

      <div class="col-lg-9">
        <div class="education-tab">
          <div class="row no-gutters">
            <div class="col-2">
              <a class="btn education-tab-link" href="/education"><span>高中</span></a>
            </div>
            <div class="col-2">
              <a class="btn education-tab-link active" href="/education/college"><span>COLLEGE</span></a>
            </div>
            <div class="col-2">
              <a class="btn education-tab-link" href="/education/basic"><span>基础类大学</span></a>
            </div>
            <div class="col-2">
              <a class="btn education-tab-link" href="/education/doctor"><span>医博类大学</span></a>
            </div>
            <div class="col-2">
              <a class="btn education-tab-link" href="/education/complex"><span>综合类大学</span></a>
            </div>
          </div>
        </div>

        <div class="education-content">
          <div class="row education-content-row">
            <div class="col-md-4">
              <div class="education-content-block">
                <a href="/education/college/centennial-college">
                  <img src="/images/education/college图/1.png" class="img-fluid">
                  <div class="education-content-block-overlay"></div>
                  <p class="education-content-block-info">百年理工学院<br>Centennial</p>
                </a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="education-content-block">
                <a href="/education/college/seneca">
                  <img src="/images/education/college图/2.png" class="img-fluid">
                  <div class="education-content-block-overlay"></div>
                  <p class="education-content-block-info">圣力嘉学院<br>Seneca</p>
                </a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="education-content-block">
                <a href="/education/college/sheridan">
                  <img src="/images/education/college图/3.png" class="img-fluid">
                  <div class="education-content-block-overlay"></div>
                  <p class="education-content-block-info">谢尔丹学院<br>Sheridan</p>
                </a>
              </div>
            </div>
          </div>

          <div class="row education-content-row">
            <div class="col-md-4">
              <div class="education-content-block">
                <a href="/education/college/george-brown">
                  <img src="/images/education/college图/4.png" class="img-fluid">
                  <div class="education-content-block-overlay"></div>
                  <p class="education-content-block-info">乔治布朗学院<br>George Brown</p>
                </a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="education-content-block">
                <a href="/education/college/humber">
                  <img src="/images/education/college图/5.png" class="img-fluid">
                  <div class="education-content-block-overlay"></div>
                  <p class="education-content-block-info">汉博学院<br>Humber</p>
                </a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="education-content-block">
                <a href="/education/college/bcit">
                  <img src="/images/education/college图/6.png" class="img-fluid">
                  <div class="education-content-block-overlay"></div>
                  <p class="education-content-block-info">哥伦比亚理工学院<br>BCIT</p>
                </a>
              </div>
            </div>
          </div>

          <div class="row education-content-row">
            <div class="col-md-4">
              <div class="education-content-block">
                <a href="/education/college/winnipeg-technical-college">
                  <img src="/images/education/college图/7.png" class="img-fluid">
                  <div class="education-content-block-overlay"></div>
                  <p class="education-content-block-info">温尼伯技术学院<br>Winnipeg Technical College</p>
                </a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="education-content-block">
                <a href="/education/college/red-river">
                  <img src="/images/education/college图/8.png" class="img-fluid">
                  <div class="education-content-block-overlay"></div>
                  <p class="education-content-block-info">红河学院<br>Red River College</p>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  {{>social-link}}
</div>
