<div class="education">
	<div class="education-header">
    <div class="education-header-container">
      <h1>学校介绍</h1>
      <p>
        加拿大实行“培养人才第一”的教育制度，大多数学校实行为公立教育，全部经过加拿大政府的
        严格审查，总体教育水平也处于世界前列。一般大学分为三大类，即医学博士类（医博类）大学
        、综合类大学、基础类大学
			</p>
    </div>
  </div>

  <div class="container container--large">
    <div class="row">

      <div class="col-lg-3">
        <div class="education-accordion">
          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a class="btn btn-link collapsed" href="/education">
                  <span class="btn-link-title">高中</span>
                  <img src="/icon/chevron-down-circle.svg" class="btn-link-chevron">
                </a>
              </h5>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a class="btn btn-link collapsed" href="/education/college">
                  <span class="btn-link-title">COLLEGE</span>
                  <img src="/icon/chevron-down-circle.svg" class="btn-link-chevron">
                </a>
              </h5>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a class="btn btn-link collapsed" href="/education/basic">
                  <span class="btn-link-title">基础类大学</span>
                  <img src="/icon/chevron-down-circle.svg" class="btn-link-chevron">
                </a>
              </h5>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a class="btn btn-link collapsed" href="/education/doctor">
                  <span class="btn-link-title">医博类大学</span>
                  <img src="/icon/chevron-down-circle.svg" class="btn-link-chevron">
                </a>
              </h5>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a class="btn btn-link" href="/education/complex">
                  <span class="btn-link-title">综合类大学</span>
                  <img src="/icon/chevron-down-circle.svg" class="btn-link-chevron">
                </a>
              </h5>
            </div>
            <div class="show">
              <div class="card-body card-body--categories">
                <a href="/education/complex/york" class="card-body-link">
                  <span>约克大学<br>York University</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/complex/waterloo" class="card-body-link">
                  <span>滑铁卢大学<br>University of Waterloo</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/complex/ryerson" class="card-body-link">
                  <span>瑞尔森大学<br>Ryerson University</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/complex/windsor" class="card-body-link">
                  <span>温莎大学<br>University of Windsor</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/complex/carleton" class="card-body-link">
                  <span>卡尔顿大学<br>Carleton University</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/complex/brock" class="card-body-link">
                  <span>布鲁克大学<br>Brock University</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/complex/sfu" class="card-body-link">
                  <span>西蒙弗雷泽大学<br>Simon Fraser University</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/complex/victoria" class="card-body-link">
                  <span>维多利亚大学<br>University of Victoria</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/complex/concordia" class="card-body-link">
                  <span>康考迪亚大学<br>Concordia University</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
              </div>
            </div>
          </div>

          <div class="card-body-apply">
            <a href="/在线申请表.docx" class="card-body-apply-btn" download>
              <img src="/icon/download-solid.svg" style="height: 25px; width: 25px;">
              <span>下载申请表单</span>
            </a>
          </div>
        </div>
      </div>

      <div class="col-lg-9">
        <div class="education-tab">
          <div class="row no-gutters">
            <div class="col-2">
              <a class="btn education-tab-link" href="/education"><span>高中</span></a>
            </div>
            <div class="col-2">
              <a class="btn education-tab-link" href="/education/college"><span>COLLEGE</span></a>
            </div>
            <div class="col-2">
              <a class="btn education-tab-link" href="/education/basic"><span>基础类大学</span></a>
            </div>
            <div class="col-2">
              <a class="btn education-tab-link" href="/education/doctor"><span>医博类大学</span></a>
            </div>
            <div class="col-2">
              <a class="btn education-tab-link active" href="/education/complex"><span>综合类大学</span></a>
            </div>
          </div>
        </div>

        <div class="education-content">
          <div class="row education-content-row">
            <div class="col-md-4">
              <div class="education-content-block">
                <a href="/education/complex/york">
                  <img src="/images/education/综合大学图/1.png" class="img-fluid">
                  <div class="education-content-block-overlay"></div>
                  <p class="education-content-block-info">约克大学<br>York University</p>
                </a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="education-content-block">
                <a href="/education/complex/waterloo">
                  <img src="/images/education/综合大学图/2.png" class="img-fluid">
                  <div class="education-content-block-overlay"></div>
                  <p class="education-content-block-info">滑铁卢大学<br>University of Waterloo</p>
                </a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="education-content-block">
                <a href="/education/complex/ryerson">
                  <img src="/images/education/综合大学图/3.png" class="img-fluid">
                  <div class="education-content-block-overlay"></div>
                  <p class="education-content-block-info">瑞尔森大学<br>Ryerson University</p>
                </a>
              </div>
            </div>
          </div>

          <div class="row education-content-row">
            <div class="col-md-4">
              <div class="education-content-block">
                <a href="/education/complex/windsor">
                  <img src="/images/education/综合大学图/4.png" class="img-fluid">
                  <div class="education-content-block-overlay"></div>
                  <p class="education-content-block-info">温莎大学<br>University of Windsor</p>
                </a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="education-content-block">
                <a href="/education/complex/carleton">
                  <img src="/images/education/综合大学图/5.png" class="img-fluid">
                  <div class="education-content-block-overlay"></div>
                  <p class="education-content-block-info">卡尔顿大学<br>Carleton University</p>
                </a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="education-content-block">
                <a href="/education/complex/brock">
                  <img src="/images/education/综合大学图/6.png" class="img-fluid">
                  <div class="education-content-block-overlay"></div>
                  <p class="education-content-block-info">布鲁克大学<br>Brock University</p>
                </a>
              </div>
            </div>
          </div>

					<div class="row education-content-row">
            <div class="col-md-4">
              <div class="education-content-block">
                <a href="/education/complex/sfu">
                  <img src="/images/education/综合大学图/7.png" class="img-fluid">
                  <div class="education-content-block-overlay"></div>
                  <p class="education-content-block-info">西蒙弗雷泽大学<br>Simon Fraser University</p>
                </a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="education-content-block">
                <a href="/education/complex/victoria">
                  <img src="/images/education/综合大学图/8.png" class="img-fluid">
                  <div class="education-content-block-overlay"></div>
                  <p class="education-content-block-info">维多利亚大学<br>University of Victoria</p>
                </a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="education-content-block">
                <a href="/education/complex/concordia">
                  <img src="/images/education/综合大学图/9.png" class="img-fluid">
                  <div class="education-content-block-overlay"></div>
                  <p class="education-content-block-info">康考迪亚大学<br>Concordia University</p>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  {{>social-link}}
</div>
