<div class="education">
	<div class="education-header">
    <div class="education-header-container">
      <h1>学校介绍</h1>
      <p>
        加拿大实行“培养人才第一”的教育制度，大多数学校实行为公立教育，全部经过加拿大政府的
        严格审查，总体教育水平也处于世界前列。一般大学分为三大类，即医学博士类（医博类）大学
        、综合类大学、基础类大学
			</p>
    </div>
  </div>

  <div class="container container--large">
    <div class="row">

      <div class="col-lg-3">
        <div class="education-accordion">
          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a class="btn btn-link collapsed" href="/education">
                  <span class="btn-link-title">高中</span>
                  <img src="/icon/chevron-down-circle.svg" class="btn-link-chevron">
                </a>
              </h5>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a class="btn btn-link collapsed" href="/education/college">
                  <span class="btn-link-title">COLLEGE</span>
                  <img src="/icon/chevron-down-circle.svg" class="btn-link-chevron">
                </a>
              </h5>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a class="btn btn-link collapsed" href="/education/basic">
                  <span class="btn-link-title">基础类大学</span>
                  <img src="/icon/chevron-down-circle.svg" class="btn-link-chevron">
                </a>
              </h5>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a class="btn btn-link" href="/education/doctor">
                  <span class="btn-link-title">医博类大学</span>
                  <img src="/icon/chevron-down-circle.svg" class="btn-link-chevron">
                </a>
              </h5>
            </div>
            <div class="show">
              <div class="card-body card-body--categories">
                <a href="/education/doctor/toronto" class="card-body-link">
                  <span>多伦多大学<br>University of Toronto</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/doctor/ottawa" class="card-body-link">
                  <span>渥太华大学<br>University of Ottawa</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/doctor/western" class="card-body-link">
                  <span>西安大略大学<br>Western Ontario</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/doctor/queen" class="card-body-link">
                  <span>皇后大学<br>Queen's University</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/doctor/mcmaster" class="card-body-link">
                  <span>麦克马斯特大学<br>Mc Master University</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/doctor/british-columbia" class="card-body-link active">
                  <span>英属哥伦比亚大学<br>UBC</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/doctor/manitoba" class="card-body-link">
                  <span>曼尼托巴大学<br>University of Manitoba</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/doctor/montreal" class="card-body-link">
                  <span>蒙特利尔大学<br>University of Montreal</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a class="btn btn-link collapsed" href="/education/complex">
                  <span class="btn-link-title">综合类大学</span>
                  <img src="/icon/chevron-down-circle.svg" class="btn-link-chevron">
                </a>
              </h5>
            </div>
          </div>

          <div class="card-body-apply">
            <a href="/在线申请表.docx" class="card-body-apply-btn" download>
              <img src="/icon/download-solid.svg" style="height: 25px; width: 25px;">
              <span>下载申请表单</span>
            </a>
          </div>
        </div>
      </div>

      <div class="col-lg-9">
        <div class="education-tab">
          <div class="row no-gutters">
            <div class="col-2">
              <a class="btn education-tab-link" href="/education"><span>高中</span></a>
            </div>
            <div class="col-2">
              <a class="btn education-tab-link" href="/education/college"><span>COLLEGE</span></a>
            </div>
            <div class="col-2">
              <a class="btn education-tab-link" href="/education/basic"><span>基础类大学</span></a>
            </div>
            <div class="col-2">
              <a class="btn education-tab-link active" href="/education/doctor"><span>医博类大学</span></a>
            </div>
            <div class="col-2">
              <a class="btn education-tab-link" href="/education/complex"><span>综合类大学</span></a>
            </div>
          </div>
        </div>

        <div class="education-text">
          <div class="education-text-heading">
            <h3>英属哥伦比亚大学 University of British Columbia</h3>
          </div>
          <div class="education-text-content">
            <p>英属哥伦比亚大学 University of British Columbia (UBC) 于1908年创校，在加拿大国内的排名中始终保持前三名之列，世界排名保持在35名以内。UBC被誉为西海岸的明珠，尤以科学研究和研究生教育见长，是世界一流的研究型大学。加拿大近百所大学中，只有8所被列入最佳大学名单内，而UBC就是其中之一。该校不仅是北美名牌大学之一，在国际也享有盛誉。</p>

            <p>
              <strong>学校类别：</strong><br>
              可以获得本科学位和硕士学位的公立大学
            </p>

            <p>
              <strong>适合学生：</strong><br>
              英语优秀，成绩优秀的高中毕业生，本科毕业生(申请硕士必须有学士学位)
            </p>

            <p>
              <strong>入学及申请截止日期：</strong><br>
              每年9月开学，申请截止日期：同年2月
            </p>

            <p>
              <strong>申请费：</strong><br>
              200加币
            </p>

            <div>
              <strong>学校优势：</strong>
              <ul>
                <li>加拿大最大和最有声望的公立研究和教学机构之一，医博类第三名，世界排名31位</li>
                <li>占地402公顷，在温哥华西面半岛上，是北美最美的校园</li>
                <li>培养出7位诺贝尔得住，76为罗德学者，3为加拿大总理，63枚奥运会奖牌</li>
              </ul>
            </div>

            <p>
              <strong>优势专业：</strong><br>
              土木工程，电子工程，机械工程，政治研究，市场营销，法律，营养学，会计等
            </p>

            <div>
              <p><strong>申请流程及要求：</strong></p>
              <p>
                <strong>本科直录：</strong>高中成绩85分 热门专业需90分以上 雅思6.5 单科6/托福90 单科22<br>
                <strong>桥梁课程：</strong>高中成绩85分 雅思5.5热门专业需90分以上<br>
                <strong>本科预科：</strong>雅思5.5需时一年，6.5分需时4个月，预科结束升入大一<br>
                <strong>硕士直录：</strong>学士学位 本科毕业证 GPA3.0雅思6.5 单科6/托福100 部分专业需要GRE/GMAT<br>
                <strong>硕士预科：</strong>雅思5.5需时一年，6.5需时4个月
              </p>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>

  {{>social-link}}
</div>
