<div class="education">
	<div class="education-header">
    <div class="education-header-container">
      <h1>学校介绍</h1>
      <p>
        加拿大实行“培养人才第一”的教育制度，大多数学校实行为公立教育，全部经过加拿大政府的
        严格审查，总体教育水平也处于世界前列。一般大学分为三大类，即医学博士类（医博类）大学
        、综合类大学、基础类大学
			</p>
    </div>
  </div>

  <div class="container container--large">
    <div class="row">

      <div class="col-lg-3">
        <div class="education-accordion">
          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a class="btn btn-link collapsed" href="/education">
                  <span class="btn-link-title">高中</span>
                  <img src="/icon/chevron-down-circle.svg" class="btn-link-chevron">
                </a>
              </h5>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a class="btn btn-link collapsed" href="/education/college">
                  <span class="btn-link-title">COLLEGE</span>
                  <img src="/icon/chevron-down-circle.svg" class="btn-link-chevron">
                </a>
              </h5>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a class="btn btn-link collapsed" href="/education/basic">
                  <span class="btn-link-title">基础类大学</span>
                  <img src="/icon/chevron-down-circle.svg" class="btn-link-chevron">
                </a>
              </h5>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a class="btn btn-link" href="/education/doctor">
                  <span class="btn-link-title">医博类大学</span>
                  <img src="/icon/chevron-down-circle.svg" class="btn-link-chevron">
                </a>
              </h5>
            </div>
            <div class="show">
              <div class="card-body card-body--categories">
                <a href="/education/doctor/toronto" class="card-body-link">
                  <span>多伦多大学<br>University of Toronto</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/doctor/ottawa" class="card-body-link">
                  <span>渥太华大学<br>University of Ottawa</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/doctor/western" class="card-body-link">
                  <span>西安大略大学<br>Western Ontario</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/doctor/queen" class="card-body-link">
                  <span>皇后大学<br>Queen's University</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/doctor/mcmaster" class="card-body-link">
                  <span>麦克马斯特大学<br>Mc Master University</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/doctor/british-columbia" class="card-body-link">
                  <span>英属哥伦比亚大学<br>UBC</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/doctor/manitoba" class="card-body-link active">
                  <span>曼尼托巴大学<br>University of Manitoba</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/doctor/montreal" class="card-body-link">
                  <span>蒙特利尔大学<br>University of Montreal</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a class="btn btn-link collapsed" href="/education/complex">
                  <span class="btn-link-title">综合类大学</span>
                  <img src="/icon/chevron-down-circle.svg" class="btn-link-chevron">
                </a>
              </h5>
            </div>
          </div>

          <div class="card-body-apply">
            <a href="/在线申请表.docx" class="card-body-apply-btn" download>
              <img src="/icon/download-solid.svg" style="height: 25px; width: 25px;">
              <span>下载申请表单</span>
            </a>
          </div>
        </div>
      </div>

      <div class="col-lg-9">
        <div class="education-tab">
          <div class="row no-gutters">
            <div class="col-2">
              <a class="btn education-tab-link" href="/education"><span>高中</span></a>
            </div>
            <div class="col-2">
              <a class="btn education-tab-link" href="/education/college"><span>COLLEGE</span></a>
            </div>
            <div class="col-2">
              <a class="btn education-tab-link" href="/education/basic"><span>基础类大学</span></a>
            </div>
            <div class="col-2">
              <a class="btn education-tab-link active" href="/education/doctor"><span>医博类大学</span></a>
            </div>
            <div class="col-2">
              <a class="btn education-tab-link" href="/education/complex"><span>综合类大学</span></a>
            </div>
          </div>
        </div>

        <div class="education-text">
          <div class="education-text-heading">
            <h3>曼尼托巴大学 University of Manitoba</h3>
          </div>
          <div class="education-text-content">
            <p>曼尼托巴大学（University of Manitoba），简称曼大，位于加拿大曼尼托巴省温尼伯市，是曼尼托巴省最大的大学，也是曼尼托巴省最全面的科研性大学教育机构。它成立于1852年，是加拿大西部的第一所大学，在世界大学学术排名中位列全球前500名。</p>

            <p>
              <strong>学校类别：</strong><br>
              可以获得本科学位和硕士学位的公立大学
            </p>

            <p>
              <strong>适合学生：</strong><br>
              英语优秀，成绩优秀的高中毕业生，本科毕业生(申请硕士必须有学士学位)
            </p>

            <p>
              <strong>入学及申请截止日期：</strong><br>
              每年9月开学，申请截止日期：同年2月
            </p>

            <p>
              <strong>申请费：</strong><br>
              语言申请费 110加币，专业申请费110加币
            </p>

            <div>
              <strong>学校优势：</strong>
              <ul>
                <li>被CCTV评为世界百大名校之一，也被称之为CEO的摇篮</li>
                <li>独特的University One课程设计，提供大一新生最佳的通识课程教育</li>
                <li>学费低廉，一年学费和生活费共计人民币15万左右，并有免费医疗保险：曼省政府为在曼省学习的国际学生支付保险费（每年700~1000加币）</li>
              </ul>
            </div>

            <p>
              <strong>优势专业：</strong><br>
              电子工程、土木工程、机械工程、生物系统工程、精算、药理学、室内设计等
            </p>

            <div>
              <p><strong>申请流程及要求：</strong></p>
              <p>
                <strong>本科：</strong>高中毕业，平均成绩75分以上，雅思6.5/托福80， 提供双录取<br>
                <strong>硕士：</strong>学士学位，本科毕业证、成绩单GPA3.0以上；雅思6.5，单科不低于6/托福80，单科不低于20 部分专业需要GRE/GMAT<br>
              </p>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>

  {{>social-link}}
</div>
