<div class="education">
	<div class="education-header">
    <div class="education-header-container">
      <h1>学校介绍</h1>
      <p>
        加拿大实行“培养人才第一”的教育制度，大多数学校实行为公立教育，全部经过加拿大政府的
        严格审查，总体教育水平也处于世界前列。一般大学分为三大类，即医学博士类（医博类）大学
        、综合类大学、基础类大学
			</p>
    </div>
  </div>

  <div class="container container--large">
    <div class="row">

      <div class="col-lg-3">
        <div class="education-accordion">
          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a class="btn btn-link collapsed" href="/education">
                  <span class="btn-link-title">高中</span>
                  <img src="/icon/chevron-down-circle.svg" class="btn-link-chevron">
                </a>
              </h5>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a class="btn btn-link collapsed" href="/education/college">
                  <span class="btn-link-title">COLLEGE</span>
                  <img src="/icon/chevron-down-circle.svg" class="btn-link-chevron">
                </a>
              </h5>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a class="btn btn-link collapsed" href="/education/basic">
                  <span class="btn-link-title">基础类大学</span>
                  <img src="/icon/chevron-down-circle.svg" class="btn-link-chevron">
                </a>
              </h5>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a class="btn btn-link" href="/education/doctor">
                  <span class="btn-link-title">医博类大学</span>
                  <img src="/icon/chevron-down-circle.svg" class="btn-link-chevron">
                </a>
              </h5>
            </div>
            <div class="show">
              <div class="card-body card-body--categories">
                <a href="/education/doctor/toronto" class="card-body-link">
                  <span>多伦多大学<br>University of Toronto</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/doctor/ottawa" class="card-body-link active">
                  <span>渥太华大学<br>University of Ottawa</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/doctor/western" class="card-body-link">
                  <span>西安大略大学<br>Western Ontario</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/doctor/queen" class="card-body-link">
                  <span>皇后大学<br>Queen's University</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/doctor/mcmaster" class="card-body-link">
                  <span>麦克马斯特大学<br>Mc Master University</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/doctor/british-columbia" class="card-body-link">
                  <span>英属哥伦比亚大学<br>UBC</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/doctor/manitoba" class="card-body-link">
                  <span>曼尼托巴大学<br>University of Manitoba</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/doctor/montreal" class="card-body-link">
                  <span>蒙特利尔大学<br>University of Montreal</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a class="btn btn-link collapsed" href="/education/complex">
                  <span class="btn-link-title">综合类大学</span>
                  <img src="/icon/chevron-down-circle.svg" class="btn-link-chevron">
                </a>
              </h5>
            </div>
          </div>

          <div class="card-body-apply">
            <a href="/在线申请表.docx" class="card-body-apply-btn" download>
              <img src="/icon/download-solid.svg" style="height: 25px; width: 25px;">
              <span>下载申请表单</span>
            </a>
          </div>
        </div>
      </div>

      <div class="col-lg-9">
        <div class="education-tab">
          <div class="row no-gutters">
            <div class="col-2">
              <a class="btn education-tab-link" href="/education"><span>高中</span></a>
            </div>
            <div class="col-2">
              <a class="btn education-tab-link" href="/education/college"><span>COLLEGE</span></a>
            </div>
            <div class="col-2">
              <a class="btn education-tab-link" href="/education/basic"><span>基础类大学</span></a>
            </div>
            <div class="col-2">
              <a class="btn education-tab-link active" href="/education/doctor"><span>医博类大学</span></a>
            </div>
            <div class="col-2">
              <a class="btn education-tab-link" href="/education/complex"><span>综合类大学</span></a>
            </div>
          </div>
        </div>

        <div class="education-text">
          <div class="education-text-heading">
            <h3>渥太华大学 University of Ottawa</h3>
          </div>
          <div class="education-text-content">
            <p>渥太华大学(University of Ottawa,U of O 或 Ottawa U) 是加拿大安大略省渥太华的一间研究型大学，是加拿大顶尖研究型大学组织U15成员之一，也是加拿大建校历史最长的大学之一。渥太华大学长期位列加拿大医博类大学前十强。学校坐落于加拿大首都渥太华市中心，毗邻加拿大国会山，地理位置十分优越。渥太华大学师资力量雄厚。</p>

            <p>
              <strong>优势专业：</strong><br>
              工程类专业、护理类专业、地质学类专业、计算机专业、心理学/教育学本科课程、物理学理科硕士专业、TELFER 商学院<br>
              渥太华大学的工程类专业在权威杂志麦考林推出的加拿大留学最热大学专业排名报告中，排名第6
            </p>

            <p>
              <strong>适合学生：</strong><br>
              成绩优秀的高中毕业生，学士学位毕业生
            </p>

            <div>
              <strong>学校优势：</strong>
              <ul>
                <li>英法双语教学</li>
                <li>办学实力强大</li>
                <li>师资力量雄厚</li>
                <li>地理位置优越</li>
                <li>积极致力中加合作</li>
                <li>社会影响重要</li>
              </ul>
            </div>

            <div>
              <p><strong>申请要求：</strong></p>
              <ul><strong>学士学位课程：</strong>
                <li>高中毕业以上学历</li>
                <li>平均成绩至少在80%以上</li>
                <li>TOEFL 580分/237分(机考)</li>
                <li>TWE: 4.5 或雅思6.5分</li>
              </ul>
              <ul><strong>硕士课程：</strong>
                <li>本科毕业，有学士学位，成绩优秀</li>
                <li>平均成绩GPA80%以上</li>
                <li>TOEFL 580/237分(机考)</li>
                <li>TWE: 4.5或雅思7.0分</li>
                <li>部分专业需要提供GRE或GMAT成绩</li>
              </ul>
            </div>

            <p>
              <strong>学校费用：</strong><br>
              本科生： $26,300-$35,400加元<br>
              研究生：$21,500-$25,500加元<br>
              饮食：膳食计划(8个月)——$2,600-$4,450加元<br>
              杂货——$300加元/每月
            </p>

          </div>
        </div>
      </div>

    </div>
  </div>

  {{>social-link}}
</div>
