<div class="education">
	<div class="education-header">
    <div class="education-header-container">
      <h1>学校介绍</h1>
      <p>
        加拿大实行“培养人才第一”的教育制度，大多数学校实行为公立教育，全部经过加拿大政府的
        严格审查，总体教育水平也处于世界前列。一般大学分为三大类，即医学博士类（医博类）大学
        、综合类大学、基础类大学
			</p>
    </div>
  </div>

  <div class="container container--large">
    <div class="row">

      <div class="col-lg-3">
        <div class="education-accordion">
          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a class="btn btn-link collapsed" href="/education">
                  <span class="btn-link-title">高中</span>
                  <img src="/icon/chevron-down-circle.svg" class="btn-link-chevron">
                </a>
              </h5>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a class="btn btn-link collapsed" href="/education/college">
                  <span class="btn-link-title">COLLEGE</span>
                  <img src="/icon/chevron-down-circle.svg" class="btn-link-chevron">
                </a>
              </h5>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a class="btn btn-link collapsed" href="/education/basic">
                  <span class="btn-link-title">基础类大学</span>
                  <img src="/icon/chevron-down-circle.svg" class="btn-link-chevron">
                </a>
              </h5>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a class="btn btn-link" href="/education/doctor">
                  <span class="btn-link-title">医博类大学</span>
                  <img src="/icon/chevron-down-circle.svg" class="btn-link-chevron">
                </a>
              </h5>
            </div>
            <div class="show">
              <div class="card-body card-body--categories">
                <a href="/education/doctor/toronto" class="card-body-link">
                  <span>多伦多大学<br>University of Toronto</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/doctor/ottawa" class="card-body-link">
                  <span>渥太华大学<br>University of Ottawa</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/doctor/western" class="card-body-link">
                  <span>西安大略大学<br>Western Ontario</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/doctor/queen" class="card-body-link active">
                  <span>皇后大学<br>Queen's University</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/doctor/mcmaster" class="card-body-link">
                  <span>麦克马斯特大学<br>Mc Master University</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/doctor/british-columbia" class="card-body-link">
                  <span>英属哥伦比亚大学<br>UBC</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/doctor/manitoba" class="card-body-link">
                  <span>曼尼托巴大学<br>University of Manitoba</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/doctor/montreal" class="card-body-link">
                  <span>蒙特利尔大学<br>University of Montreal</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a class="btn btn-link collapsed" href="/education/complex">
                  <span class="btn-link-title">综合类大学</span>
                  <img src="/icon/chevron-down-circle.svg" class="btn-link-chevron">
                </a>
              </h5>
            </div>
          </div>

          <div class="card-body-apply">
            <a href="/在线申请表.docx" class="card-body-apply-btn" download>
              <img src="/icon/download-solid.svg" style="height: 25px; width: 25px;">
              <span>下载申请表单</span>
            </a>
          </div>
        </div>
      </div>

      <div class="col-lg-9">
        <div class="education-tab">
          <div class="row no-gutters">
            <div class="col-2">
              <a class="btn education-tab-link" href="/education"><span>高中</span></a>
            </div>
            <div class="col-2">
              <a class="btn education-tab-link" href="/education/college"><span>COLLEGE</span></a>
            </div>
            <div class="col-2">
              <a class="btn education-tab-link" href="/education/basic"><span>基础类大学</span></a>
            </div>
            <div class="col-2">
              <a class="btn education-tab-link active" href="/education/doctor"><span>医博类大学</span></a>
            </div>
            <div class="col-2">
              <a class="btn education-tab-link" href="/education/complex"><span>综合类大学</span></a>
            </div>
          </div>
        </div>

        <div class="education-text">
          <div class="education-text-heading">
            <h3>皇后大学 Queen's University</h3>
          </div>
          <div class="education-text-content">
            <p>位于加拿大安大略省京士顿市（Kingston）的皇后大学又名女王大学（Queens University）前身是根据维多利亚女王的皇家宪章建立的皇后学院（Queen’s College），建立于1841年，是安大略省第二古老的大学，文化和历史底蕴丰厚。在学术方面，皇后大学一直保持着很高的水准，其生物、医学、商业、工程、法学、艺术及理科都闻名于世。目前大学里共有15个不同领域的学院，亦在世界各地有数个国际学习中心。Queen’s一直是加拿大多项学术成就的先驱。</p>

            <div>
              <strong>热门专业：</strong><br>
              <p>工商管理硕士专业（MBA）：美国彭博商业周刊每两年为全世界各大学的工商管理硕士学位所排名的列表里，2010年女皇大学工商管理硕士被列为美国境外全球第二， QS世界大学排名的 QS 机构（Quacquarelli Symonds）则把女皇大学商学院的工商管理硕士（MBA）排名为全北美第十六名，加拿大第三名。</p>
              <p>计算机工程专业：在世界上最大的几家高科技公司中，皇后大学工程专业毕业生的就业率达到了94%。该学校还拥有15个顶级设计团队和20多个国际交流机会。通过该专业的学习，毕业生可以在学术领域从事研究工作，也可以在一些大型公司从事工作，包括有微软、通用动力公司、思科系统等等。</p>
              <p>化学专业：皇后大学的化学系是加拿大顶尖的教学与研究院系其中之一。皇后大学的化学专业设有丰富的实验室实践内容，通过该专业的学习，毕业生可以从事教学、健康科学、公共和私立研究实验室、环境研究、医学、牙医、药剂学等等。</p>
            </div>

            <p>
              <strong>适合学生：</strong><br>
              成绩优秀的高中毕业生，学士学位毕业生
            </p>

            <p>
              <strong>入学及申请截止日期：</strong><br>
              每年9月，当年2月截止申请
            </p>

            <div>
              <strong>学校优势：</strong>
              <ul>
                <li>学校声誉优良</li>
                <li>教育成果显赫</li>
                <li>办学条件雄厚</li>
                <li>悠久校园历史</li>
              </ul>
            </div>

            <div>
              <p><strong>申请要求：</strong></p>
              <ul><strong>学士学位课程：</strong>
                <li>学历要求：高中毕业，提交会考成绩（个别省份无会考，则无需提交）、高考成绩</li>
                <li>学习成绩：建议80％-90％</li>
                <li>语言成绩要求：
                  <ul>
                    <li>IBT: 100（写作22）</li>
                    <li>IELTS：6.5(6.0)</li>
                  </ul>
                </li>
                <li>双录取：iBT：80 (口语阅读20写作22听力18)</li>
              </ul>
              <ul><strong>硕士课程：</strong>
                <li>学历要求：本科毕业，相关专业背景</li>
                <li>平均分：大学成绩 3.2或平均分85分以上</li>
                <li>语言成绩要求：
                  <ul>
                    <li>IBT：88，写作24，口语阅读22；听力20</li>
                    <li>IELTS：7.0</li>
                  </ul>
                </li>
                <li>标准化考试成绩：商科提交GMAT，理文工建议提交GRE</li>
              </ul>
            </div>

            <p>
              <strong>学校费用：</strong><br>
              学费约为$26,000 /年（商学院和医学院学费会较高）<br>
              EAP：$4,710~$4,930/3个月 + $350 (活动费) + $204（医保）+$200（课本费）<br>
              英语强化课程： $10,980 + $350 (活动费) + $102 (医保) + $150 (课本费)
            </p>

          </div>
        </div>
      </div>

    </div>
  </div>

  {{>social-link}}
</div>
