<div class="education">
	<div class="education-header">
    <div class="education-header-container">
      <h1>学校介绍</h1>
      <p>
        加拿大实行“培养人才第一”的教育制度，大多数学校实行为公立教育，全部经过加拿大政府的
        严格审查，总体教育水平也处于世界前列。一般大学分为三大类，即医学博士类（医博类）大学
        、综合类大学、基础类大学
			</p>
    </div>
  </div>

  <div class="container container--large">
    <div class="row">

      <div class="col-lg-3">
        <div class="education-accordion">
          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a class="btn btn-link collapsed" href="/education">
                  <span class="btn-link-title">高中</span>
                  <img src="/icon/chevron-down-circle.svg" class="btn-link-chevron">
                </a>
              </h5>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a class="btn btn-link collapsed" href="/education/college">
                  <span class="btn-link-title">COLLEGE</span>
                  <img src="/icon/chevron-down-circle.svg" class="btn-link-chevron">
                </a>
              </h5>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a class="btn btn-link collapsed" href="/education/basic">
                  <span class="btn-link-title">基础类大学</span>
                  <img src="/icon/chevron-down-circle.svg" class="btn-link-chevron">
                </a>
              </h5>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a class="btn btn-link" href="/education/doctor">
                  <span class="btn-link-title">医博类大学</span>
                  <img src="/icon/chevron-down-circle.svg" class="btn-link-chevron">
                </a>
              </h5>
            </div>
            <div class="show">
              <div class="card-body card-body--categories">
                <a href="/education/doctor/toronto" class="card-body-link active">
                  <span>多伦多大学<br>University of Toronto</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/doctor/ottawa" class="card-body-link">
                  <span>渥太华大学<br>University of Ottawa</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/doctor/western" class="card-body-link">
                  <span>西安大略大学<br>Western Ontario</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/doctor/queen" class="card-body-link">
                  <span>皇后大学<br>Queen's University</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/doctor/mcmaster" class="card-body-link">
                  <span>麦克马斯特大学<br>Mc Master University</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/doctor/british-columbia" class="card-body-link">
                  <span>英属哥伦比亚大学<br>UBC</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/doctor/manitoba" class="card-body-link">
                  <span>曼尼托巴大学<br>University of Manitoba</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/doctor/montreal" class="card-body-link">
                  <span>蒙特利尔大学<br>University of Montreal</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a class="btn btn-link collapsed" href="/education/complex">
                  <span class="btn-link-title">综合类大学</span>
                  <img src="/icon/chevron-down-circle.svg" class="btn-link-chevron">
                </a>
              </h5>
            </div>
          </div>

          <div class="card-body-apply">
            <a href="/在线申请表.docx" class="card-body-apply-btn" download>
              <img src="/icon/download-solid.svg" style="height: 25px; width: 25px;">
              <span>下载申请表单</span>
            </a>
          </div>
        </div>
      </div>

      <div class="col-lg-9">
        <div class="education-tab">
          <div class="row no-gutters">
            <div class="col-2">
              <a class="btn education-tab-link" href="/education"><span>高中</span></a>
            </div>
            <div class="col-2">
              <a class="btn education-tab-link" href="/education/college"><span>COLLEGE</span></a>
            </div>
            <div class="col-2">
              <a class="btn education-tab-link" href="/education/basic"><span>基础类大学</span></a>
            </div>
            <div class="col-2">
              <a class="btn education-tab-link active" href="/education/doctor"><span>医博类大学</span></a>
            </div>
            <div class="col-2">
              <a class="btn education-tab-link" href="/education/complex"><span>综合类大学</span></a>
            </div>
          </div>
        </div>

        <div class="education-text">
          <div class="education-text-heading">
            <h3>多伦多大学 University of Toronto</h3>
          </div>
          <div class="education-text-content">
            <p>多伦多大学始建于1827年，是北美大陆最古老的大学之一，也是世界最重要的研究性大学之一。它座落于世界上最适合人类居住的城市--多伦多。该大学有3个校区，300类大学本科专业，32座图书馆。多伦多大学拥有一部世界级的超级计算机系统以及几十台其他大、中型计算机，数百个终端。多大拥有藏书1900余万册的北美第四大，加拿大最大的学术图书馆系统。</p>

            <p>
              <strong>优势专业：</strong><br>
              商科专业、护理专业、教育学专业、数学专业、精算专业、地质学专业、环境科学专业、心理学专业、工程类专业、计算机专业、书籍与传媒专业、生物学/病理生物专业<br>
              多伦多大学的商科专业，在权威杂志麦考林推出的加拿大留学最热大学专业排名报告中，排名第1。
            </p>

            <p>
              <strong>适合学生：</strong><br>
              成绩优秀的高中毕业生，学士学位毕业生
            </p>

            <div>
              <strong>学校优势：</strong>
              <ul>
                <li>加拿大排名前二名，北美前三名的老牌名校</li>
                <li>学校科研水平高，规模大，师资力量强，教学质量高</li>
                <li>独有的大一小班设置及本科生研究机会，使国际学生与教授有更深入密切的交流</li>
                <li>位于加拿大安大略省多伦多市，加拿大经济中心，多元文化环境</li>
                <li>最新的教学方法和先进的教材，拥有世界级教学设备</li>
              </ul>
            </div>

            <div>
              <p><strong>申请要求：</strong></p>
              <ul><strong>学士学位课程：</strong>
                <li>雅思：学术模块，总分不低于6.5，单项不低于6</li>
                <li>托福：IBT总分不低于100，写作不低于22，PBT总分不低于600，书面表达不低于5.0</li>
              </ul>
              <ul><strong>硕士课程：</strong>
                <li>TOEFL: 网络考试不低于79，写作21，口语18，阅读13，听力13；</li>
                <li>IELTS 不低于7.0，单科不低于6.5 。完成四年学士学位本科课程</li>
                <li>平均分在75%或以上</li>
              </ul>
            </div>

            <p>
              <strong>学校费用：</strong><br>
              学费：$35,000~$47,000/学年<br>
              多伦多大学圣乔治校区本科预科（IFP）学费： $39,880~$47,280／年<br>
              生活费用：约$15,000／年
            </p>

          </div>
        </div>
      </div>

    </div>
  </div>

  {{>social-link}}
</div>
