<div class="education">
	<div class="education-header">
    <div class="education-header-container">
      <h1>学校介绍</h1>
      <p>
        加拿大实行“培养人才第一”的教育制度，大多数学校实行为公立教育，全部经过加拿大政府的
        严格审查，总体教育水平也处于世界前列。一般大学分为三大类，即医学博士类（医博类）大学
        、综合类大学、基础类大学
			</p>
    </div>
  </div>

  <div class="container container--large">
    <div class="row">

      <div class="col-lg-3">
        <div class="education-accordion">
          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a class="btn btn-link collapsed" href="/education">
                  <span class="btn-link-title">高中</span>
                  <img src="/icon/chevron-down-circle.svg" class="btn-link-chevron">
                </a>
              </h5>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a class="btn btn-link collapsed" href="/education/college">
                  <span class="btn-link-title">COLLEGE</span>
                  <img src="/icon/chevron-down-circle.svg" class="btn-link-chevron">
                </a>
              </h5>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a class="btn btn-link collapsed" href="/education/basic">
                  <span class="btn-link-title">基础类大学</span>
                  <img src="/icon/chevron-down-circle.svg" class="btn-link-chevron">
                </a>
              </h5>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a class="btn btn-link" href="/education/doctor">
                  <span class="btn-link-title">医博类大学</span>
                  <img src="/icon/chevron-down-circle.svg" class="btn-link-chevron">
                </a>
              </h5>
            </div>
            <div class="show">
              <div class="card-body card-body--categories">
                <a href="/education/doctor/toronto" class="card-body-link">
                  <span>多伦多大学<br>University of Toronto</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/doctor/ottawa" class="card-body-link">
                  <span>渥太华大学<br>University of Ottawa</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/doctor/western" class="card-body-link active">
                  <span>西安大略大学<br>Western Ontario</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/doctor/queen" class="card-body-link">
                  <span>皇后大学<br>Queen's University</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/doctor/mcmaster" class="card-body-link">
                  <span>麦克马斯特大学<br>Mc Master University</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/doctor/british-columbia" class="card-body-link">
                  <span>英属哥伦比亚大学<br>UBC</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/doctor/manitoba" class="card-body-link">
                  <span>曼尼托巴大学<br>University of Manitoba</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
                <a href="/education/doctor/montreal" class="card-body-link">
                  <span>蒙特利尔大学<br>University of Montreal</span>
                  <span class="card-body-link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a class="btn btn-link collapsed" href="/education/complex">
                  <span class="btn-link-title">综合类大学</span>
                  <img src="/icon/chevron-down-circle.svg" class="btn-link-chevron">
                </a>
              </h5>
            </div>
          </div>

          <div class="card-body-apply">
            <a href="/在线申请表.docx" class="card-body-apply-btn" download>
              <img src="/icon/download-solid.svg" style="height: 25px; width: 25px;">
              <span>下载申请表单</span>
            </a>
          </div>
        </div>
      </div>

      <div class="col-lg-9">
        <div class="education-tab">
          <div class="row no-gutters">
            <div class="col-2">
              <a class="btn education-tab-link" href="/education"><span>高中</span></a>
            </div>
            <div class="col-2">
              <a class="btn education-tab-link" href="/education/college"><span>COLLEGE</span></a>
            </div>
            <div class="col-2">
              <a class="btn education-tab-link" href="/education/basic"><span>基础类大学</span></a>
            </div>
            <div class="col-2">
              <a class="btn education-tab-link active" href="/education/doctor"><span>医博类大学</span></a>
            </div>
            <div class="col-2">
              <a class="btn education-tab-link" href="/education/complex"><span>综合类大学</span></a>
            </div>
          </div>
        </div>

        <div class="education-text">
          <div class="education-text-heading">
            <h3>西安大略大学—Western Ontario</h3>
          </div>
          <div class="education-text-content">
            <p>西安大略大学(University of Western Ontario，简称为UWO或Western)，现已更名韦仕敦大学（Western University，音译），是位于加拿大安大略省伦敦市的一所国际顶尖的医学博士类公立大学。它的商科最为出名，是北美案例法教育的两大发源地之一。加拿大《环球邮报》大学排名，大型大学（注册全日制学生22000名以上）教学质量，学生满意度排名全加第一。</p>

            <div>
              <strong>学校课程：</strong><br>
              学校目前由Schulich舒立克医学院、Don Wright音乐学院、Ivey毅伟商学院、自然科学院、国王学院、布雷舍尔女子学院及休伦湖学院组成，专业有：
              <ul>
                <li>人文和艺术学院：古典研究，电影研究，现代语言和文学，视觉艺术，写作修辞和专业传媒等。</li>
                <li>工程学院：化学工程， 土木工程，计算机工程，电气工程，机械工程，机电工程，软件工程等。</li>
                <li>健康科学学院：健康科学，食品与营养，生物健康科学，康复科学等。</li>
                <li>信息媒体研究：媒体、信息与科技文化，媒体和公共利益，媒体理论与制作等。/li>
                <li>音乐学院：音乐，音乐管理研究，音乐教育，音乐历史，音乐表演等。</li>
                <li>理学院：应用数学，生物学，化学，计算机科学，地球科学，环境科学，数学，统计和保险统计学等。</li>
                <li>社会科学：人类学，经济学，地理，历史， 管理与组织，国际关系，心理学，社会学，妇女研究等。</li>
              </ul>
              该校IVEY商学院毕业的工商管理硕士是美加两地争相聘任的对象，有许多大公司的主管毕业于该校商学院。
            </div>

            <p>
              <strong>适合学生：</strong><br>
              成绩优秀的高中毕业生，学士学位毕业生
            </p>

            <p>
              <strong>入学及申请截止日期：</strong><br>
              每年9月，当年2月截止申请
            </p>

            <div>
              <strong>学校优势：</strong>
              <ul>
                <li>加拿大四大古老公立大学之一</li>
                <li>商科世界领先</li>
                <li>小班化教学</li>
                <li>就业率高，学生满意度全加第一</li>
                <li>为学生提供种类繁多的奖学金</li>
              </ul>
            </div>

            <div>
              <p><strong>申请要求：</strong></p>
              <p><strong>语言课程：</strong>Culture Works 就读</p>
              <p><strong>学士学位课程：</strong>高中毕业学生或高三在读学生，高中平均成绩不低于85分；高考成绩；雅思6.5（单科6.0）或完成Culture Works的学习</p>
              <p><strong>硕士课程：</strong>学士学位毕业学生，平均成绩不低于85分；雅思6.5（单科6.0）或完成Culture Works的学习，导师推荐信、个人简历、个人陈述等材料。</p>
            </div>

            <p>
              <strong>学校费用：</strong><br>
              申请费：155加币（直录） 1200加币（双录取）<br>
              学费：25000-30000加币（1年）
            </p>

          </div>
        </div>
      </div>

    </div>
  </div>

  {{>social-link}}
</div>
